In [1]:
players = {'virat','dhoni','sehwag','sachin','yuvi'}

In [2]:
names = {'ayushi','sachin','dhoni','arohi','rahul','rohan'}

In [3]:
type(players)

set

In [4]:
type(names)

set

In [5]:
print(dir(players))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [6]:
players.intersection(names)

{'dhoni', 'sachin'}

In [7]:
players

{'dhoni', 'sachin', 'sehwag', 'virat', 'yuvi'}

In [8]:
names

{'arohi', 'ayushi', 'dhoni', 'rahul', 'rohan', 'sachin'}

In [9]:
players.intersection_update(names)

In [10]:
players

{'dhoni', 'sachin'}

In [11]:
names

{'arohi', 'ayushi', 'dhoni', 'rahul', 'rohan', 'sachin'}

In [15]:
players = {'virat','dhoni','sehwag','sachin','yuvi'}

In [13]:
players.difference_update(names)

In [14]:
players

{'sehwag', 'virat', 'yuvi'}

In [16]:
names.symmetric_difference_update(players)

In [17]:
names

{'arohi', 'ayushi', 'rahul', 'rohan', 'sehwag', 'virat', 'yuvi'}

In [18]:
players

{'dhoni', 'sachin', 'sehwag', 'virat', 'yuvi'}

In [19]:
players = {'virat','dhoni','sehwag','sachin','yuvi'}

In [20]:
names = {'ayushi','sachin','dhoni','arohi','rahul','rohan'}

In [21]:
players.difference(names)

{'sehwag', 'virat', 'yuvi'}

In [22]:
players.difference_update(names)

In [23]:
players

{'sehwag', 'virat', 'yuvi'}

In [24]:
players

{'sehwag', 'virat', 'yuvi'}

In [25]:
players[0]

TypeError: 'set' object is not subscriptable

In [26]:
l = list(players)

In [27]:
l

['yuvi', 'sehwag', 'virat']

In [28]:
l[0]

'yuvi'

In [29]:
players = {'virat','dhoni','sehwag','sachin','yuvi'}

In [30]:
players

{'dhoni', 'sachin', 'sehwag', 'virat', 'yuvi'}

In [31]:
l[0] = "one"

In [32]:
l

['one', 'sehwag', 'virat']

In [34]:
players.symmetric_difference_update(names)

In [35]:
players

{'arohi', 'ayushi', 'rahul', 'rohan', 'sehwag', 'virat', 'yuvi'}

In [36]:
### add

players.add("kohli")

In [37]:
players

{'arohi', 'ayushi', 'kohli', 'rahul', 'rohan', 'sehwag', 'virat', 'yuvi'}

In [38]:
names.add("tushar")

In [39]:
names

{'arohi', 'ayushi', 'dhoni', 'rahul', 'rohan', 'sachin', 'tushar'}

In [40]:
names.add("Simran")

In [41]:
names

{'Simran', 'arohi', 'ayushi', 'dhoni', 'rahul', 'rohan', 'sachin', 'tushar'}

In [42]:
a = 10

In [43]:
bin(a)

'0b1010'

In [44]:
a = "simran"
#encoding

In [45]:
ord("s")

115

In [46]:
ord("i")

105

In [47]:
ord("S")

83

In [48]:
ord(" ")

32

In [49]:
ord("!")

33

In [50]:
chr(105)   #return the character of that number

'i'

In [51]:
chr(80)

'P'

In [52]:
chr(30)

'\x1e'

In [53]:
chr(67)

'C'

In [54]:
names.add(("abc","xyz"))

In [55]:
names

{('abc', 'xyz'),
 'Simran',
 'arohi',
 'ayushi',
 'dhoni',
 'rahul',
 'rohan',
 'sachin',
 'tushar'}

In [56]:
s = {1,2,3,4,"hello","world",(1,2,3)}

In [57]:
s

{(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'}

In [58]:
s.add([1,23,45,67])   #sets consists of only immutable data type

TypeError: unhashable type: 'list'

In [59]:
s.add({10,20,30})

TypeError: unhashable type: 'set'

In [60]:
l = [10,20,30,[1,2,3,4]]

In [61]:
l

[10, 20, 30, [1, 2, 3, 4]]

In [62]:
set(l)

TypeError: unhashable type: 'list'

In [63]:
#clear
#copy

In [65]:
s

{(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'}

In [66]:
s1 = {10,20,30,"hello","world",1,2,3}

In [67]:
s

{(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'}

In [68]:
s1

{1, 10, 2, 20, 3, 30, 'hello', 'world'}

In [69]:
s2 = s1
s3 = s1.copy()

In [70]:
print(id(s1))
print(id(s2))
print(id(s3))

2003099050728
2003099050728
2003089143624

In [71]:
s1.add("simran")

In [72]:
s1

{1, 10, 2, 20, 3, 30, 'hello', 'simran', 'world'}

In [73]:
s2

{1, 10, 2, 20, 3, 30, 'hello', 'simran', 'world'}

In [74]:
s3

{1, 10, 2, 20, 3, 30, 'hello', 'world'}

In [75]:
s3.add("bye")

In [76]:
s3

{1, 10, 2, 20, 3, 30, 'bye', 'hello', 'world'}

In [77]:
s1

{1, 10, 2, 20, 3, 30, 'hello', 'simran', 'world'}

In [78]:
s2

{1, 10, 2, 20, 3, 30, 'hello', 'simran', 'world'}

In [79]:
s1.isdisjoint(s2)

False

In [80]:
s

{(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'}

In [81]:
s1

{1, 10, 2, 20, 3, 30, 'hello', 'simran', 'world'}

In [82]:
s3

{1, 10, 2, 20, 3, 30, 'bye', 'hello', 'world'}

In [83]:
s.isdisjoint(s1)

False

In [84]:
s.intersection(s1)

{1, 2, 3, 'hello', 'world'}

In [85]:
names

{('abc', 'xyz'),
 'Simran',
 'arohi',
 'ayushi',
 'dhoni',
 'rahul',
 'rohan',
 'sachin',
 'tushar'}

In [86]:
s

{(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'}

In [87]:
names.isdisjoint(s)

True

In [88]:
###subset --> Consists of the elements of superset
###superset --> COnsists of all the elements of subset

In [90]:
home = {'bed','table','chair','almirah','bean bag'}

In [91]:
room = {'bed','table','chair'}

In [92]:
room.issubset(home)

True

In [93]:
home.issubset(room)

False

In [94]:
home.issuperset(room)

True

In [95]:
room.issuperset(home)

False

In [97]:
room1 = {'bed','bean bag'}

In [98]:
room1.issubset(home)

True

In [99]:
home.issuperset(room)

True

In [100]:
s1 = {1,2,3,"hello","world"}
s2 = {1,2,3,"hello","world"}

In [101]:
s1.issubset(s2)

True

In [102]:
s2.issubset(s1)

True

In [103]:
s1.issuperset(s2)

True

In [104]:
s2.issuperset(s1)

True

In [106]:
print(names)

{'sachin', 'Simran', 'tushar', 'arohi', 'dhoni', ('abc', 'xyz'), 'rohan', 'rahul', 'ayushi'}

In [107]:
help(names.remove)

Help on built-in function remove:

remove(...) method of builtins.set instance
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [108]:
names.remove(('abc','xyz'))

In [109]:
names

{'Simran', 'arohi', 'ayushi', 'dhoni', 'rahul', 'rohan', 'sachin', 'tushar'}

In [110]:
players.remove("kohli")

In [111]:
players

{'arohi', 'ayushi', 'rahul', 'rohan', 'sehwag', 'virat', 'yuvi'}

In [112]:
players.remove("abc")

KeyError: 'abc'

In [113]:
help(names.discard)

Help on built-in function discard:

discard(...) method of builtins.set instance
    Remove an element from a set if it is a member.

    If the element is not a member, do nothing.

In [114]:
names.discard("xyz")

In [115]:
players.discard("simran")

In [116]:
players

{'arohi', 'ayushi', 'rahul', 'rohan', 'sehwag', 'virat', 'yuvi'}

In [117]:
players.pop()

'yuvi'

In [118]:
print("The set of players is : ",players)
bin1 = []
bin1.append(players.pop())
bin1.append(players.pop())
bin1.append(players.pop())
bin1.append(players.pop())

The set of players is :  {'arohi', 'rohan', 'sehwag', 'rahul', 'virat', 'ayushi'}

In [119]:
players

{'ayushi', 'virat'}

In [120]:
bin1

['arohi', 'rohan', 'sehwag', 'rahul']

In [121]:
print(*bin1)   #* --> iterate

arohi rohan sehwag rahul

In [122]:
print(*players)

virat ayushi

In [123]:
print(*names)

sachin Simran tushar arohi dhoni rohan rahul ayushi

In [124]:
players

{'ayushi', 'virat'}

In [125]:
bin1

['arohi', 'rohan', 'sehwag', 'rahul']

In [126]:
players.add(*bin1)   #players.add('arohi','rohan','sehwag','rahul')

TypeError: add() takes exactly one argument (4 given)

In [128]:
players.add((*bin1,))   #players.add('arohi','rohan','sehwag','rahul')

In [129]:
players

{('arohi', 'rohan', 'sehwag', 'rahul'), 'ayushi', 'virat'}

In [130]:
print(*players)

virat ayushi ('arohi', 'rohan', 'sehwag', 'rahul')

In [131]:
help(players.update)

Help on built-in function update:

update(...) method of builtins.set instance
    Update a set with the union of itself and others.

In [132]:
players.update(names)

In [133]:
players

{('arohi', 'rohan', 'sehwag', 'rahul'),
 'Simran',
 'arohi',
 'ayushi',
 'dhoni',
 'rahul',
 'rohan',
 'sachin',
 'tushar',
 'virat'}

In [134]:
names

{'Simran', 'arohi', 'ayushi', 'dhoni', 'rahul', 'rohan', 'sachin', 'tushar'}

In [135]:
s1

{1, 2, 3, 'hello', 'world'}

In [136]:
s1.update(*bin1)

In [137]:
bin1

['arohi', 'rohan', 'sehwag', 'rahul']

In [138]:
s1

{1,
 2,
 3,
 'a',
 'e',
 'g',
 'h',
 'hello',
 'i',
 'l',
 'n',
 'o',
 'r',
 's',
 'u',
 'w',
 'world'}

In [139]:
bin1

['arohi', 'rohan', 'sehwag', 'rahul']

In [140]:
print(*"arohi")

a r o h i

In [141]:
s1 = {1,2,3,"hello","world"}

In [142]:
s1.update(bin1)

In [143]:
s1

{1, 2, 3, 'arohi', 'hello', 'rahul', 'rohan', 'sehwag', 'world'}

In [144]:
bin1

['arohi', 'rohan', 'sehwag', 'rahul']

In [145]:
hash("python")

3918521662517482545

In [146]:
hash("world")

-6252899176019631417

In [147]:
hash(s1)

TypeError: unhashable type: 'set'

1. Update  (4)
2. pop
3. remove
4. discard
5. add
6. clear

#### Frozen Sets

        Immutable Sets

In [149]:
s

{(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'}

In [150]:
fs = frozenset(s)

In [151]:
type(fs)

frozenset

In [152]:
print(dir(fs))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [153]:
s1

{1, 2, 3, 'arohi', 'hello', 'rahul', 'rohan', 'sehwag', 'world'}

In [154]:
fs

frozenset({(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'})

In [155]:
fs.intersection(s1)

frozenset({1, 2, 3, 'hello', 'world'})

In [156]:
fs.union(s1)

frozenset({(1, 2, 3),
           1,
           2,
           3,
           4,
           'arohi',
           'hello',
           'rahul',
           'rohan',
           'sehwag',
           'world'})

In [157]:
fs.difference(s1)

frozenset({(1, 2, 3), 4})

In [158]:
fs.symmetric_difference(s1)

frozenset({(1, 2, 3), 4, 'arohi', 'rahul', 'rohan', 'sehwag'})

In [159]:
fs

frozenset({(1, 2, 3), 1, 2, 3, 4, 'hello', 'world'})

In [160]:
s1

{1, 2, 3, 'arohi', 'hello', 'rahul', 'rohan', 'sehwag', 'world'}

In [162]:
fs.isdisjoint(s1)   #have common elements

False

In [163]:
fs.issubset(s1)

False

In [164]:
fs.issuperset(s1)

False

In [165]:
s1.issuperset(fs)

False

In [166]:
fs.add("simran")

AttributeError: 'frozenset' object has no attribute 'add'

In [167]:
students = [
    ['name','shubham','tushar','rahul','ayushi'],
    ['science',90,85,95,75],
    ['english',85,75,90,45],
    ['maths',65,90,78,65]
]

#1 --> take student name as input
#2 --> take science marks as input and update the previous marks
#3 --> take english as input and update previous english marks
#4 --> Take maths marks as input and update previous maths marks
#5 --> print all the details of that student
#6 --> print the percentage of its marks

In [169]:
students[0]

['name', 'shubham', 'tushar', 'rahul', 'ayushi']

In [171]:
students[0][0]

'name'

In [174]:
students[0][1:]

['shubham', 'tushar', 'rahul', 'ayushi']

In [215]:
print("\nWelcome to students details....")
print(f"\n The {students[0][0]} of the students are {students[0][1:]}")
name = input("\nEnter the student name from above whose marks you want to update : ").lower().strip()
i = students[0].index(name)
#print(i)
print("*"*70)
science = int(input(f"\n Enter the new marks of science of {name} : "))
students[1][i] = science
print("\n Science marks has been updates")
print("*"*70)
print("*"*70)
eng = int(input(f"\n Enter the new marks of english of {name} : "))
students[2][i] = eng
print("\n English marks has been updates")
print("*"*70)
print("*"*70)
maths = int(input(f"\n Enter the new marks of maths of {name} : "))
students[3][i] = maths
print("\n Maths marks has been updated")
print("*"*70)
print("\n\n Student Details")
print("-"*70)
print("\n Name : ",name)
print("\n Maths : ",maths)
print("\n Science : ",science)
print("\n English : ",eng)
per = (maths+science+eng)/3
print("\n Percentage : ",per)

Welcome to students details....

 The name of the students are ['shubham', 'tushar', 'rahul', 'ayushi']

Enter the student name from above whose marks you want to update : ayushi
**********************************************************************

 Enter the new marks of science of ayushi : 90

 Science marks has been updates
**********************************************************************
**********************************************************************

 Enter the new marks of english of ayushi : 80

 English marks has been updates
**********************************************************************
**********************************************************************

 Enter the new marks of maths of ayushi : 70

 Maths marks has been updated
**********************************************************************


 Student Details
----------------------------------------------------------------------

 Name :  ayushi

 Maths :  70

 Science :  90

 English :  80

 Percentage :  80.0

In [189]:
students[0].index("tushar")

2

In [178]:
students[1]

['science', 90, 85, 95, 75]

In [179]:
students[2]

['english', 85, 75, 90, 45]

In [193]:
i = students[0].index("tushar")

In [194]:
i

2

In [196]:
students[1][i] = 56

In [197]:
students[1]

['science', 90, 56, 95, 75]

In [199]:
students[2][i] = 90

In [201]:
students[2]

['english', 85, 90, 90, 45]

In [202]:
students[0]  #names

['name', 'shubham', 'tushar', 'rahul', 'ayushi']

In [203]:
students[1]

['science', 90, 56, 95, 75]

In [204]:
students[2]

['english', 85, 90, 90, 45]

In [206]:
students[3][2] = 45

In [207]:
students[3]

['maths', 65, 45, 78, 65]

In [209]:
students

[['name', 'shubham', 'tushar', 'rahul', 'ayushi'],
 ['science', 90, 56, '80', 75],
 ['english', 85, 90, '85', 45],
 ['maths', 65, 45, '70', 65]]

In [214]:
"1234"/3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
##type_conversion,operators