In [1]:
resume = {
    'Personal Info' : {
        'Name' : 'Simran Grover',
        'Email' : 'simrangrover5@gmail.com',
        'Phno' :  'xyz',
        'dob' : 'xyz'
    },
    'Languages Known' : ['Hindi','English'],
    'Skills' : {
        'Programming Language' : ['C','C++','Python'],
        'Other Languages' : ['html','jinja','latex'],
        'Development' : ['Django','flask','tkinter']
    },    
}

In [2]:
print(resume)

{'Personal Info': {'Name': 'Simran Grover', 'Email': 'simrangrover5@gmail.com', 'Phno': 'xyz', 'dob': 'xyz'}, 'Languages Known': ['Hindi', 'English'], 'Skills': {'Programming Language': ['C', 'C++', 'Python'], 'Other Languages': ['html', 'jinja', 'latex'], 'Development': ['Django', 'flask', 'tkinter']}}

In [3]:
##pprint --> preety print

In [4]:
from pprint import pprint  
#pprint --> module --> py file

In [5]:
pprint(resume)

{'Languages Known': ['Hindi', 'English'],
 'Personal Info': {'Email': 'simrangrover5@gmail.com',
                   'Name': 'Simran Grover',
                   'Phno': 'xyz',
                   'dob': 'xyz'},
 'Skills': {'Development': ['Django', 'flask', 'tkinter'],
            'Other Languages': ['html', 'jinja', 'latex'],
            'Programming Language': ['C', 'C++', 'Python']}}

In [7]:
pprint(resume,indent=3)

{  'Languages Known': ['Hindi', 'English'],
   'Personal Info': {  'Email': 'simrangrover5@gmail.com',
                       'Name': 'Simran Grover',
                       'Phno': 'xyz',
                       'dob': 'xyz'},
   'Skills': {  'Development': ['Django', 'flask', 'tkinter'],
                'Other Languages': ['html', 'jinja', 'latex'],
                'Programming Language': ['C', 'C++', 'Python']}}

In [8]:
bank = {
    1001 : {'Name':'Tushar','Bal':12000,'Password':'admin'},
    1002 : {'Name':'Rahul','Bal':12500,'Password':'passwd'},
    1003 : {'Name':'Shubham','Bal':14000,'Password':'passpass'},
    1004 : {'Name':'Ravi','Bal':15000,'Password':'adminadmin'}
}

In [9]:
bank[1001]

{'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}

In [10]:
bank[1002]

{'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}

In [11]:
bank[1003]

{'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}

In [12]:
bank[1004]

{'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}

#### Question for work    
    
    Add New User by taking input of its name,balance,password
    Generate new accno serially and make a new key of this accno and its value will be the dictionary

## Type Conversion

Noodles --> Snacks
Noodles --> Fruits

In [13]:
a = 12
type(a)

int

In [14]:
b = float(a)

In [15]:
b

12.0

In [16]:
type(b)

float

##### Two Types Of Type Conversion

1. Implicit --> Internally The type of data is changed
2. Explicit --> You change the type of data externally

### Implicit Type Conversion

In [17]:
a = 12
b = 34.56
print(a+b)

46.56

In [18]:
a*b

414.72

In [19]:
int(b)

34

In [20]:
a/b

0.3472222222222222

In [21]:
a*b*10

4147.200000000001

In [22]:
#formatting
print(type(b))
print("The marks is {}".format(b))

<class 'float'>
The marks is 34.56

### Explicit Type Conversion

1. int
2. float
3. complex
4. list
5. Tuple
6. Set
7. Dict
8. Hex
9. Bin
10. Oct
11. str

In [23]:
a = "123"
int(a)

123

In [24]:
int(12.456)

12

In [25]:
int("123.45")

ValueError: invalid literal for int() with base 10: '123.45'

In [26]:
int("123")

123

In [28]:
a = int(input("Enter any value : "))
print(type(a))

Enter any value : jijpijp

ValueError: invalid literal for int() with base 10: 'jijpijp'

In [ ]:
#base 10 --> Decimal Value

Number --> Decimal (0-9)
           Binary (0-1)
           Hexadecmal (0-15)
           Octal (0-8)

In [32]:
#float

float(12)

12.0

In [33]:
float("123.45")

123.45

In [34]:
float("23.45690909")

23.45690909

In [35]:
a = float(input("Enter a number : "))

Enter a number : 12.3456

In [36]:
a

12.3456

In [37]:
type(input("Enter a number : "))

Enter a number : 123

str

In [38]:
float(10+23.45+int("123"))

156.45

In [39]:
## complex

complex(23,45)

(23+45j)

In [40]:
complex(34)

(34+0j)

In [41]:
complex(int(input()),int(input()))

34
23

(34+23j)

In [42]:
### str

a = 34.567
str(a)

'34.567'

In [43]:
str(23)

'23'

In [44]:
str("1111")

'1111'

In [51]:
#reverse of a number 
num = int(input("Enter a number : "))
print(f"The reverse of {num} number is : {int(str(num)[::-1])}")

Enter a number : 3456123
The reverse of 3456123 number is : 3216543

In [59]:
### list , tuple, set , dict --> iterable object
l = list("python")

In [53]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
l = list((1,2,3,4,5,6))

In [55]:
l

[1, 2, 3, 4, 5, 6]

In [56]:
l = list({"python","html","java","c","C++","javascript"})

In [57]:
l

['C++', 'javascript', 'html', 'python', 'c', 'java']

In [58]:
list(121)

TypeError: 'int' object is not iterable

In [61]:
l = list({'name':'simran','birth_place':'gwalior','city':'jaipur'}) #by default dict iterate the keys

In [62]:
print(l)

['name', 'birth_place', 'city']

In [63]:
l = list({'name':'simran','birth_place':'gwalior','city':'jaipur'}.values())

In [64]:
l

['simran', 'gwalior', 'jaipur']

In [65]:
l = list({'name':'simran','birth_place':'gwalior','city':'jaipur'}.items())

In [66]:
l

[('name', 'simran'), ('birth_place', 'gwalior'), ('city', 'jaipur')]

In [67]:
t1 = ("hello","world","how","are","you")
t2 = (1,2,3,4,"jaipur","bhopal")

In [68]:
list(t1+t2)

['hello', 'world', 'how', 'are', 'you', 1, 2, 3, 4, 'jaipur', 'bhopal']

In [69]:
##tuple

tuple(l)

(('name', 'simran'), ('birth_place', 'gwalior'), ('city', 'jaipur'))

In [71]:
tuple({'html','css','js','bs'})

('html', 'css', 'js', 'bs')

In [72]:
t = tuple("python python")

In [73]:
t

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n')

In [74]:
bank

{1001: {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'},
 1002: {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'},
 1003: {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'},
 1004: {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}}

In [75]:
t = tuple(bank)

In [76]:
t

(1001, 1002, 1003, 1004)

In [77]:
tuple(bank.values())

({'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'},
 {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'},
 {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'},
 {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'})

In [78]:
tuple(bank.items())

((1001, {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}),
 (1002, {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}),
 (1003, {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}),
 (1004, {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}))

In [80]:
tuple(34.567)

TypeError: 'float' object is not iterable

In [79]:
##set

set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [81]:
set(l)

{('birth_place', 'gwalior'), ('city', 'jaipur'), ('name', 'simran')}

In [82]:
t1

('hello', 'world', 'how', 'are', 'you')

In [83]:
set(t1)

{'are', 'hello', 'how', 'world', 'you'}

In [84]:
set(t1+t2)

{1, 2, 3, 4, 'are', 'bhopal', 'hello', 'how', 'jaipur', 'world', 'you'}

In [85]:
set(bank)

{1001, 1002, 1003, 1004}

In [87]:
print(bank.values())

dict_values([{'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}, {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}, {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}, {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}])

In [89]:
set(bank.values())

TypeError: unhashable type: 'dict'

In [90]:
set(bank.items())

TypeError: unhashable type: 'dict'

In [91]:
bank.items()

dict_items([(1001, {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}), (1002, {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}), (1003, {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}), (1004, {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'})])

In [93]:
set((1001, {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}),)

TypeError: unhashable type: 'dict'

In [94]:
### dict

bank.items()

dict_items([(1001, {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}), (1002, {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}), (1003, {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}), (1004, {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'})])

In [95]:
l = [['name','simran'],['maths',80],['science',90]]
d = dict(l)

In [96]:
d

{'name': 'simran', 'maths': 80, 'science': 90}

In [97]:
l = [['name','simran','ayushi'],['maths',80],['science',90]]
d = dict(l)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [98]:
l = [['name',['simran','ayushi']],['maths',80],['science',90]]
d = dict(l)

In [99]:
d

{'name': ['simran', 'ayushi'], 'maths': 80, 'science': 90}

In [100]:
dict(["name","simran","maths",80,"science",90])

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [101]:
l = [('name',['simran','ayushi']),('maths',80),('science',90)]
d = dict(l)

In [102]:
d

{'name': ['simran', 'ayushi'], 'maths': 80, 'science': 90}

In [103]:
l1 = [["name","simran"],["city","jaipur"]]
l2 = [["state","raj"],["country","India"]]
d = dict(l1+l2)
print(d)

{'name': 'simran', 'city': 'jaipur', 'state': 'raj', 'country': 'India'}

In [105]:
#binary value 
bin(12)

'0b1100'

In [109]:
a = bin(10)

In [108]:
int(bin(10),base=2)

10

In [113]:
int(a[2:])

1010

In [116]:
int(bin(10),base=2)

10

In [117]:
oct(24)   #octal --> 0-7

'0o30'

In [118]:
oct(45)

'0o55'

In [119]:
oct(100)

'0o144'

In [120]:
hex(100)

'0x64'

### Operators

    OPerators are used to perform operations on the operands
    
    
    Types of Operators
    
    1. Arithemetic Opertors
    2. Logical Operators
    3. Comparison Operators
    4. Bitwise Operators
    5. Assignment Operators
    6. Identity Operators
    7. Memership Operators

#### Arithemetic Operators

1. Addition(+)
2. Sub (-)
3. Mul (*)
4. Absolute Division(/)
5. Floor Division (//)
6. Power (**)
7. Mod (%) --> Remender

In [121]:
a = 12
b = 34

In [122]:
a+b

46

In [123]:
a-b

-22

In [124]:
a*b

408

In [125]:
a/b

0.35294117647058826

In [126]:
a//b

0

In [127]:
a = 23.45
b = 45.67

In [128]:
a/b

0.513466170352529

In [129]:
a//b

0.0

In [130]:
b/a

1.9475479744136461

In [131]:
b//a

1.0

In [132]:
12**34

4922235242952026704037113243122008064

In [133]:
12**4

20736

In [134]:
a

23.45

In [135]:
a**4

302392.75950625

In [136]:
## + , * --> Number, strings, list, tuple

In [137]:
a

23.45

In [138]:
b

45.67

In [139]:
a/b

0.513466170352529

In [140]:
a%b

23.45

In [141]:
12%10

2

In [142]:
10%12

10

In [143]:
"strings"**7

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [144]:
"strings"**"hello"

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'