    For
        It is used to iterate the objects and can be use with the iterable objects only

In [1]:
print(*"python")

p y t h o n

In [2]:
print(*121)

TypeError: print() argument after * must be an iterable, not int

In [3]:
print(*[1,2,3,4,5])  #print(1,2,3,4,5)

1 2 3 4 5

In [5]:
print(1,2,3,4,5)

1 2 3 4 5

In [4]:
print(*[1,2,3,4,5],sep=",")

1,2,3,4,5

In [6]:
i = 0
while i<10:
    print("hello world")
    print("bye world")
    i += 1

hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world
hello world
bye world

    for var in iterable_object:
        s1
        s2
        s3
        
    The loop will run according to the length of iterable object or according to the value of the iterable object

In [7]:
for i in 121:
    print(i)

TypeError: 'int' object is not iterable

In [8]:
for i in "python":
    print(i)
    
#For loop iterates the value one by one from the object "python" and change the value of i acc. to the value that is being
#iterated by the loop

p
y
t
h
o
n

In [9]:
print("p")
print("y")
print("t")
print("h")
print("o")
print("n")

p
y
t
h
o
n

In [10]:
for i in "python":
    print(i,end=",")

p,y,t,h,o,n,

In [12]:
c = 0
for i in "hello world":
    c += 1
    print("bye world")
    
print("\n The counter is : ",c)

bye world
bye world
bye world
bye world
bye world
bye world
bye world
bye world
bye world
bye world
bye world

 The counter is :  11

In [13]:
for i in "hello world":
    print(i*2)

hh
ee
ll
ll
oo

ww
oo
rr
ll
dd

In [14]:
for i in "hello world":
    print(i*4)

hhhh
eeee
llll
llll
oooo

wwww
oooo
rrrr
llll
dddd

In [15]:
for i in [1,2,3,4,5]:
    print(i*2)

2
4
6
8
10

In [18]:
for i in ["hello","hi","how","are","you"]:
    print(*i,sep="\t")

h	e	l	l	o
h	i
h	o	w
a	r	e
y	o	u

In [19]:
for i in [[1,2,3,4,5,90],[10,20,30,40,50],"hello world","how","are","youyou"]:
    if len(i)%2 !=0 :
        print(i*2)
    else:
        print(i)

[1, 2, 3, 4, 5, 90]
[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]
hello worldhello world
howhow
areare
youyou

In [20]:
for j in (1,2,3,4,5):
    print(j)

1
2
3
4
5

In [21]:
for j in {1,2,3,4,5,"hello","hi","you"}:
    print(j)

hello
1
2
3
4
5
hi
you

In [57]:
d = {'key':'value','city':'jaipur','state':'rajasthan','weather':25,'desc':'cloudy'}

In [23]:
d

{'key': 'value',
 'city': 'jaipur',
 'state': 'rajasthan',
 'weather': 25,
 'desc': 'cloudy'}

In [25]:
for i in d:  #by default it iterates the key
    print(i)

key
city
state
weather
desc

In [27]:
print(*d,sep=",")

key,city,state,weather,desc

In [28]:
d.values()

dict_values(['value', 'jaipur', 'rajasthan', 25, 'cloudy'])

In [29]:
for i in d.values():
    print(i)

value
jaipur
rajasthan
25
cloudy

In [30]:
"key" in d

True

In [31]:
"value" in d

False

In [32]:
d

{'key': 'value',
 'city': 'jaipur',
 'state': 'rajasthan',
 'weather': 25,
 'desc': 'cloudy'}

In [33]:
d.items()

dict_items([('key', 'value'), ('city', 'jaipur'), ('state', 'rajasthan'), ('weather', 25), ('desc', 'cloudy')])

In [34]:
for item in d.items():
    print(item)

('key', 'value')
('city', 'jaipur')
('state', 'rajasthan')
('weather', 25)
('desc', 'cloudy')

In [35]:
s = "python"
l = []
l.extend([*s])  #l.extend(['p','y','t','h','o','n'])

In [36]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [37]:
a,b = "st"

In [38]:
a

's'

In [39]:
b

't'

In [40]:
a,b = 121

TypeError: cannot unpack non-iterable int object

In [41]:
a,b,c = "pyt"

In [42]:
a

'p'

In [43]:
b

'y'

In [45]:
c

't'

In [46]:
a,b,c = [1,2,3]

In [47]:
a

1

In [48]:
b

2

In [49]:
c

3

In [50]:
a,b,c,d,e = d

In [51]:
a

'key'

In [52]:
b

'city'

In [53]:
c

'state'

In [54]:
d

'weather'

In [55]:
e

'desc'

In [59]:
d.items()

dict_items([('key', 'value'), ('city', 'jaipur'), ('state', 'rajasthan'), ('weather', 25), ('desc', 'cloudy')])

In [58]:
for i,j in d.items():
    print(i,"=",j)
    
#i,j = ('key','value')
#i,j = ('city','jaipur')
#i,j = ('state','raj')
#i,j = ('weather',25)
#i,j = ('desc','cloudy')

key = value
city = jaipur
state = rajasthan
weather = 25
desc = cloudy

In [60]:
l = [["simran","passwd"],['arun','passpass'],['ayush','admin'],['manish','admin123']]

In [61]:
for user,password in l:
    print("\n The username is ",user)
    print("\n The password is : ",password)
    print("*"*80)

 The username is  simran

 The password is :  passwd
********************************************************************************

 The username is  arun

 The password is :  passpass
********************************************************************************

 The username is  ayush

 The password is :  admin
********************************************************************************

 The username is  manish

 The password is :  admin123
********************************************************************************

In [62]:
for v1,v2,v3 in [["hello",'hi','bye'],(10,20,30),{1,2,3},"str",{'k':'v','k1':'v1','k2':'v2'},"python"]:
    print("Value 1 : ",v1)
    print("Value 2 : ",v2)
    print("Value 3 : ",v3)
    print("*"*80)

Value 1 :  hello
Value 2 :  hi
Value 3 :  bye
********************************************************************************
Value 1 :  10
Value 2 :  20
Value 3 :  30
********************************************************************************
Value 1 :  1
Value 2 :  2
Value 3 :  3
********************************************************************************
Value 1 :  s
Value 2 :  t
Value 3 :  r
********************************************************************************
Value 1 :  k
Value 2 :  k1
Value 3 :  k2
********************************************************************************

ValueError: too many values to unpack (expected 3)

In [64]:
l1 = [1,2,3,4,5]
l2 = ["one","two","three","four","five"]
zip(l1,l2)  #return a object that is iterable

In [65]:
for i in zip(l1,l2):
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')
(4, 'four')
(5, 'five')

In [66]:
list(zip(l1,l2))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')]

In [68]:
names = ["sharan","ayush","tushar","rahul","shubham","sohail","shahid"]
ages = [45,12,23,22,10,34,9]

In [69]:
list(zip(names,ages))

[('sharan', 45),
 ('ayush', 12),
 ('tushar', 23),
 ('rahul', 22),
 ('shubham', 10),
 ('sohail', 34),
 ('shahid', 9)]

In [70]:
for n,a in zip(names,ages):
    if a>=18:
        print(f"{n} can vote")
    else:
        print(f"{n} cannot vote")

sharan can vote
ayush cannot vote
tushar can vote
rahul can vote
shubham cannot vote
sohail can vote
shahid cannot vote

In [71]:
l1

[1, 2, 3, 4, 5]

In [72]:
l2

['one', 'two', 'three', 'four', 'five']

In [73]:
list(zip(l1,l2,"str"))

[(1, 'one', 's'), (2, 'two', 't'), (3, 'three', 'r')]

In [75]:
for i in "*".join("python".split()):
    print(i)

p
y
t
h
o
n

In [78]:
for i in "*".join("python".split()):
    print(i)

p
y
t
h
o
n

In [81]:
"python".split()

['python']

In [85]:
"*".join(['python'])

'python'

In [83]:
"*".join("python world".split())

'python*world'

In [86]:
s = "python"

In [88]:
for _ in "*".join(s).split():  #"p*y*t*h*o*n".split() --> ["p*y*t*h*o*n"]
    print(_)

p*y*t*h*o*n

In [90]:
"*".join("python").split()

['p*y*t*h*o*n']

In [96]:
w1 = ["corona","are","day","day"]
w2 = ["cases","increasing","by","staysafe"]
#"corona cases are increasing day by day staysafe"
if len(w1) == len(w2):
    index = []  #to have the index numbers
    i = 0
    while i<len(w1):
        index.append(i)
        i += 1
    sen = ""  #a variable is initialized to form the final sentence
    for i in index:  #[0,1,2,3]
        w = w1[i] + " " + w2[i] + " "
        sen += w
    print("\n The sentence from the list is : ",sen)
else:
    print("\n Length of both lists must be same...")

 The sentence from the list is :  corona cases are increasing day by day staysafe

In [97]:
#hackerrank.com

## l = ["one","has","two"]  using while loop
### oht naw eso

In [98]:
ls

 Volume in drive C is Windows
 Volume Serial Number is E08D-DAD9

 Directory of C:\batches\online_batch\batch_7pm

08-05-2020  20:47    <DIR>          .
08-05-2020  20:47    <DIR>          ..
08-05-2020  19:25    <DIR>          .ipynb_checkpoints
22-04-2020  20:49            62,603 10. Sets.ipynb
23-04-2020  20:40            50,028 11. Type_conversion.ipynb
24-04-2020  20:46            51,378 12. Operators.ipynb
28-04-2020  20:32            18,441 13.Control_Statements.ipynb
29-04-2020  20:34            23,138 14. if_else_2.ipynb
01-05-2020  19:32            26,173 15. if_else_3.ipynb
04-05-2020  20:48         1,986,359 16. While_Loop_1.ipynb
04-05-2020  20:42            14,599 17. While_loop_2.ipynb
05-05-2020  20:50         2,279,730 18. while_loop_3.ipynb
07-05-2020  19:56            18,601 19. nested_while.ipynb
10-04-2020  20:30            47,841 2. Strings.ipynb
07-05-2020  20:45            15,740 20. Nested_while_2.ipynb
11-04-2020  19:20            28,234 3. Strings.ipynb
13-04-2020  20:34            41,029 4. Lists.ipynb
18-04-2020  11:11            50,932 6. lists_tuple.ipynb
20-04-2020  20:14            41,783 7. Dictionary.ipynb
20-04-2020  20:30            28,015 8. Dictionary.ipynb
21-04-2020  20:33            18,217 9. Sets.ipynb
08-04-2020  19:51               165 abc.txt
16-04-2020  20:35    <DIR>          Backup
02-04-2020  10:14             5,138 break_statement_flowchart.png
07-05-2020  20:23               308 circles.py
07-05-2020  20:40               391 circles1.py
08-04-2020  20:19             5,237 Class_1.ipynb
02-04-2020  10:14             6,040 continue-statement-flowchart.png
09-04-2020  20:30            21,806 Data_types.ipynb
27-04-2020  20:40            21,967 Doubts.ipynb
08-05-2020  20:47            32,666 For_loop_1.ipynb
14-04-2020  21:30            42,013 Lists_2.ipynb
07-04-2020  19:19                62 one.txt
30-04-2020  19:35               635 s_p_s.py
07-05-2020  20:09               189 square.py
07-05-2020  20:07               295 t1.py
07-05-2020  20:16               377 t3.py
              33 File(s)      4,940,130 bytes
               4 Dir(s)  74,543,341,568 bytes free