    PEP??

In [ ]:
#python Interpreter --> __main__ namespace

In [1]:
print(__name__)

__main__

In [2]:
if __name__ == "__main__":
    print("Hello world")

Hello world

In [4]:
def func():
    print("hello world")


if __name__ == "__main__":
    func()   #function calling

hello world

## Lists

1. Sequential
2. Ordered
3. Mutable

In [5]:
l1 = [1,2,3,4]  #homogenous list data are of same type
l2 = ['hello',1,12.56,3+4j]  #heterogenous list  data are of different types
l3 = [1,2,3,"hello","world",[10,20,30]]  #nested list
l4 = []  #empty list

In [6]:
print(type(l1))
print(type(l2))
print(type(l3))
print(type(l4))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [7]:
l3

[1, 2, 3, 'hello', 'world', [10, 20, 30]]

In [8]:
l3[0]

1

In [11]:
l3[5]

[10, 20, 30]

In [12]:
print(type(l3[5]))

<class 'list'>

In [14]:
l3[2] = "python"  #mutable

In [15]:
l3

[1, 2, 'python', 'hello', 'world', [10, 20, 30]]

In [16]:
id(l3)

2282188874056

In [19]:
print("The id of list is : ",id(l3))
print()
for i in l3:
    print(i, "=",id(i))

The id of list is :  2282188874056

1 = 140713350242704
2 = 140713350242736
python = 2282157959664
hello = 2282189663408
world = 2282189662960
[10, 20, 30] = 2282188869384

1. hackerrank
2. hackerearth
3. codechef

online content

1. geeksforgeeks
2. tutorialspoint
3. pythoncourse.edu
4. python.org

In [20]:
l3

[1, 2, 'python', 'hello', 'world', [10, 20, 30]]

In [22]:
l3[-1][2]

30

In [23]:
len(l3)

6

In [24]:
len(l3[-1])

3

In [25]:
trainers = ['simran',['python',['data science',['python','numpy','seaborn'],'machine learning','web development']],
           'manish',['python',['ethical hacking','linux',['rhcsa','rhcse']]]
           ]

In [26]:
trainers

['simran',
 ['python',
  ['data science',
   ['python', 'numpy', 'seaborn'],
   'machine learning',
   'web development']],
 'manish',
 ['python', ['ethical hacking', 'linux', ['rhcsa', 'rhcse']]]]

In [27]:
len(trainers)

4

In [30]:
trainers[-1]

['python', ['ethical hacking', 'linux', ['rhcsa', 'rhcse']]]

In [31]:
len(trainers[-1])

2

In [32]:
trainers[1]

['python',
 ['data science',
  ['python', 'numpy', 'seaborn'],
  'machine learning',
  'web development']]

In [34]:
len(trainers[1])

2

In [37]:
len(trainers[1][1])

4

In [40]:
trainers[1][1][1][-1]

'seaborn'

In [41]:
trainers

['simran',
 ['python',
  ['data science',
   ['python', 'numpy', 'seaborn'],
   'machine learning',
   'web development']],
 'manish',
 ['python', ['ethical hacking', 'linux', ['rhcsa', 'rhcse']]]]

In [42]:
len(trainers[-1][-1][-1])

2

In [48]:
trainers[1][-1][-3][-1]

'seaborn'

In [49]:
len(trainers[1][-1][-3][-1])

7

In [50]:
trainers[-1][-1][-1][-1][:3]

'rhc'

In [51]:
trainers[-1][-1][-1][-1].center(50,"*")

'**********************rhcse***********************'

In [52]:
l3

[1, 2, 'python', 'hello', 'world', [10, 20, 30]]

In [54]:
l3[-1][-1].strip()

AttributeError: 'int' object has no attribute 'strip'

In [56]:
l3[-2].split("r")

['wo', 'ld']

### Operations on list


1. COncatenation(+)
2. Repetition(*)
3. Indexing

In [57]:
l1

[1, 2, 3, 4]

In [58]:
l2

['hello', 1, 12.56, (3+4j)]

In [61]:
print(l1+l2)  #concatenation

[1, 2, 3, 4, 'hello', 1, 12.56, (3+4j)]

In [62]:
print(l1)

[1, 2, 3, 4]

In [63]:
print(l2)

['hello', 1, 12.56, (3+4j)]

In [64]:
print(l3+["hello"])

[1, 2, 'python', 'hello', 'world', [10, 20, 30], 'hello']

In [65]:
print(l3+"hello")

TypeError: can only concatenate list (not "str") to list

In [66]:
#repitetion(*)

["hello"]*10

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

In [67]:
l1*5

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [69]:
print((l1+["hello world"])*10)

[1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world', 1, 2, 3, 4, 'hello world']

In [71]:
l1 = ["simran","amit"]
l2 = ["grover","goplani"]
print(l1+l2)

['simran', 'amit', 'grover', 'goplani']

In [73]:
trainers

['simran',
 ['python',
  ['data science',
   ['python', 'numpy', 'seaborn'],
   'machine learning',
   'web development']],
 'manish',
 ['python', ['ethical hacking', 'linux', ['rhcsa', 'rhcse']]]]

In [75]:
cities = ['jaipur','udaipur','gwalior','bhopal','delhi','indore','gurgaon','noida']

    listobject[start:stop:step]

In [76]:
cities[::]

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida']

In [77]:
cities[3:9]

['bhopal', 'delhi', 'indore', 'gurgaon', 'noida']

In [78]:
len(cities)

8

In [79]:
cities[::-1]

['noida',
 'gurgaon',
 'indore',
 'delhi',
 'bhopal',
 'gwalior',
 'udaipur',
 'jaipur']

In [81]:
cities[-1:5:-1][::-1]

['gurgaon', 'noida']

In [86]:
cities[-2:3:-1][2]

'delhi'

In [87]:
s = "hello"
s1 = "hello"

In [88]:
print(id(s))
print(id(s1))

2282189663408
2282189663408

In [90]:
s = "hello world"
s1 = "hello world"
print(id(s))
print(id(s1))
#bcz of the special character

2282223146224
2282223145328

In [91]:
s[5]

' '

In [92]:
s1[5]

' '

In [93]:
print(id(s[5]))
print(id(s1[5]))

2282117939952
2282117939952

In [95]:
print(dir(cities))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [96]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [98]:
cities.append.__doc__  #__doc__ --> documentation of method/function

'Append object to the end of the list.'

In [99]:
all_methods = dir(list)

In [102]:
all_methods[-11:]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
functions = all_methods[-11:]

In [104]:
print(functions)

['append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [120]:
for i in functions:
    print()
    print(i,"=",eval(f"list.{i}.__doc__"))

append = Append object to the end of the list.

clear = Remove all items from list.

copy = Return a shallow copy of the list.

count = Return number of occurrences of value.

extend = Extend list by appending elements from the iterable.

index = Return first index of value.

Raises ValueError if the value is not present.

insert = Insert object before index.

pop = Remove and return item at index (default last).

Raises IndexError if list is empty or index is out of range.

remove = Remove first occurrence of value.

Raises ValueError if the value is not present.

reverse = Reverse *IN PLACE*.

sort = Stable sort *IN PLACE*.

In [112]:
eval("1+2+3+10")

16

In [113]:
eval("[1,2,3,4,5]")

[1, 2, 3, 4, 5]

In [114]:
s

'hello world'

In [118]:
s.split('w')

['hello ', 'orld']

In [116]:
eval("s.split('w')")

['hello ', 'orld']

## Functions to add data into list

1. append
2. extend
3. insert

#### append

    listobject.append(data) --> it will add the data or object at the end

In [121]:
cities

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida']

In [122]:
cities.append("mumbai")

In [123]:
cities

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai']

In [125]:
cities.append("jhasi","indore")

TypeError: append() takes exactly one argument (2 given)

In [126]:
cities.append([1,2,3,4])

In [127]:
cities

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai',
 [1, 2, 3, 4]]

In [128]:
cities.append(10)

In [129]:
cities

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai',
 [1, 2, 3, 4],
 10]

In [130]:
cities.append(("gwalior","delhi"))

In [131]:
cities

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai',
 [1, 2, 3, 4],
 10,
 ('gwalior', 'delhi')]

#### insert

    listobject.insert(index,object) --> it will insert the object at that index

In [132]:
cities

['jaipur',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai',
 [1, 2, 3, 4],
 10,
 ('gwalior', 'delhi')]

In [133]:
cities.insert(1,"chennai")

In [134]:
cities

['jaipur',
 'chennai',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai',
 [1, 2, 3, 4],
 10,
 ('gwalior', 'delhi')]

In [135]:
cities.insert(5,"kerala","delhi")

TypeError: insert() takes exactly 2 arguments (3 given)

In [136]:
cities.insert("delhi",5)

TypeError: 'str' object cannot be interpreted as an integer

### Extend
    listobject.extend(iterable) --> iterable -> like string,list

In [137]:
cities.extend(12)

TypeError: 'int' object is not iterable

In [138]:
l = []
l.extend("hello world")

In [139]:
l

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [140]:
l.extend(["hello","world","python"])

In [141]:
l

['h',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 'hello',
 'world',
 'python']

In [142]:
cities.extend(["delhi","gurgaon","indore"])

In [143]:
cities

['jaipur',
 'chennai',
 'udaipur',
 'gwalior',
 'bhopal',
 'delhi',
 'indore',
 'gurgaon',
 'noida',
 'mumbai',
 [1, 2, 3, 4],
 10,
 ('gwalior', 'delhi'),
 'delhi',
 'gurgaon',
 'indore']

In [144]:
l = [1,2,3,4,5,6]  #circular right shift
#output --> [6,1,2,3,4,5]