In [1]:
alpha = ['a','b','c','d','e','f','g','h','i','k']

In [2]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [3]:
print(dir(alpha))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

###  Functions to add elements

1. Append
2. insert
3. extend

In [4]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k']

In [5]:
alpha.append('z')

In [6]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z']

In [7]:
help(alpha.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

#### insert
    list_obj.insert(index,obj) --> It will insert the obj at index

In [8]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z']

In [9]:
alpha.append('y')

In [10]:
alpha

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z', 'y']

In [11]:
alpha.insert(2,'x')

In [12]:
alpha

['a', 'b', 'x', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z', 'y']

### extend

    list_obj.extend(iterable) --> add those element from iterable object into last

In [13]:
l = []

In [14]:
l.extend("python")  #"python" --> iterable

In [15]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [16]:
l.append("python")

In [17]:
l

['p', 'y', 't', 'h', 'o', 'n', 'python']

In [18]:
l.extend(10)

TypeError: 'int' object is not iterable

In [19]:
alpha.extend(['a','e','i','o','u'])

In [21]:
print(alpha)

['a', 'b', 'x', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z', 'y', 'a', 'e', 'i', 'o', 'u']

In [22]:
alpha.append(['a','e','i','o','u'])

In [24]:
print(alpha)

['a', 'b', 'x', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z', 'y', 'a', 'e', 'i', 'o', 'u', ['a', 'e', 'i', 'o', 'u']]

### Functions to remove elements

1. pop  --> remove the last element
2. pop(index) --> remove the particular index
3. remove(item) --> remove the particular item

In [26]:
alpha.pop(3)  # 3 index element

'c'

In [27]:
print(alpha)

['a', 'b', 'x', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z', 'y', 'a', 'e', 'i', 'o', 'u', ['a', 'e', 'i', 'o', 'u']]

In [28]:
alpha.pop()

['a', 'e', 'i', 'o', 'u']

In [29]:
print(alpha)

['a', 'b', 'x', 'd', 'e', 'f', 'g', 'h', 'i', 'k', 'z', 'y', 'a', 'e', 'i', 'o', 'u']

In [30]:
alpha.pop(5)

'f'

In [31]:
print(alpha)

['a', 'b', 'x', 'd', 'e', 'g', 'h', 'i', 'k', 'z', 'y', 'a', 'e', 'i', 'o', 'u']

In [32]:
alpha.remove('z')

In [33]:
print(alpha)

['a', 'b', 'x', 'd', 'e', 'g', 'h', 'i', 'k', 'y', 'a', 'e', 'i', 'o', 'u']

In [34]:
alpha.remove('a')

In [35]:
print(alpha)

['b', 'x', 'd', 'e', 'g', 'h', 'i', 'k', 'y', 'a', 'e', 'i', 'o', 'u']

#### Common Functions

1. Copy
2. clear
3. sort
4. reverse
5. index
6. count

In [36]:
print(alpha)

['b', 'x', 'd', 'e', 'g', 'h', 'i', 'k', 'y', 'a', 'e', 'i', 'o', 'u']

In [37]:
alpha.sort()

In [38]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y']

In [39]:
l = [1,2,3,"hello","world","how"]

In [40]:
l.sort()  #for sorting list must be homogenous

TypeError: '<' not supported between instances of 'str' and 'int'

In [41]:
l = ['hello','world','how','are']

In [42]:
l.sort()

In [43]:
l

['are', 'hello', 'how', 'world']

In [44]:
data = [
    ['simran',10,20,30],
    ['rahul',30,40,50],
    ['shubham',50,60,30]
]
#data --> nested list

In [45]:
data.sort()

In [46]:
data

[['rahul', 30, 40, 50], ['shubham', 50, 60, 30], ['simran', 10, 20, 30]]

In [47]:
l

['are', 'hello', 'how', 'world']

In [48]:
l.clear()

In [49]:
l

[]

In [50]:
id(l)

1845398827208

In [51]:
alpha

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y']

### index
    list_obj.index(item)

In [52]:
alpha.index('g')

5

In [53]:
alpha.index('i')

7

In [54]:
alpha[7]

'i'

In [55]:
alpha[8]

'i'

### count

    list_obj.count(item) --> return the number of times the element is present in the list

In [56]:
alpha

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y']

In [57]:
alpha.count('e')

2

In [58]:
alpha.count('i')

2

In [59]:
alpha.extend('python')

In [60]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y', 'p', 'y', 't', 'h', 'o', 'n']

In [61]:
alpha.count('y')

2

In [62]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y', 'p', 'y', 't', 'h', 'o', 'n']

In [64]:
alpha.count('z')  #it will never show an error

0

In [65]:
alpha.count('python')

0

In [66]:
alpha

['a',
 'b',
 'd',
 'e',
 'e',
 'g',
 'h',
 'i',
 'i',
 'k',
 'o',
 'u',
 'x',
 'y',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [67]:
l1 = [[1,2,3,4],[10,20,30],[30,40,50]]

In [68]:
len(l1)

3

In [71]:
l1[-1]

[30, 40, 50]

In [70]:
l1[-1][-1]

50

In [73]:
l1[2][-1]

50

In [74]:
l1[2][2]

50

In [76]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y', 'p', 'y', 't', 'h', 'o', 'n']

In [80]:
c_alpha = []
for i in alpha:
    c = alpha.count(i)
    c_alpha.append([i,c])
    
#i = 'a' , i = 'b', i = 'd'
print(c_alpha)

[['a', 1], ['b', 1], ['d', 1], ['e', 2], ['e', 2], ['g', 1], ['h', 2], ['i', 2], ['i', 2], ['k', 1], ['o', 2], ['u', 1], ['x', 1], ['y', 2], ['p', 1], ['y', 2], ['t', 1], ['h', 2], ['o', 2], ['n', 1]]

In [78]:
c_alpha = []
c = alpha.count('a')
c_alpha.append(['a',c])
c = alpha.count('b')
c_alpha.append(['b',c])
c = alpha.count('e')
c_alpha.append(['e',c])

In [79]:
c_alpha

[['a', 1], ['b', 1], ['e', 2]]

In [82]:
### reverse
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'i', 'i', 'k', 'o', 'u', 'x', 'y', 'p', 'y', 't', 'h', 'o', 'n']

In [83]:
alpha.reverse()

In [84]:
print(alpha)

['n', 'o', 'h', 't', 'y', 'p', 'y', 'x', 'u', 'o', 'k', 'i', 'i', 'h', 'g', 'e', 'e', 'd', 'b', 'a']

In [85]:
alpha.sort()

In [86]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y']

In [87]:
alpha.sort(reverse=True)

In [88]:
print(alpha)

['y', 'y', 'x', 'u', 't', 'p', 'o', 'o', 'n', 'k', 'i', 'i', 'h', 'h', 'g', 'e', 'e', 'd', 'b', 'a']

In [89]:
alpha.reverse()

In [90]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y']

### Copy

In [91]:
a1 = alpha
a2 = alpha.copy()

In [92]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y']

In [93]:
print(a1)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y']

In [94]:
print(a2)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y']

In [95]:
id(alpha)

1845398599304

In [96]:
id(a1)

1845398599304

In [97]:
id(a2)

1845417383048

In [99]:
pwd   #present working directory

'C:\\batches\\online_batch\\batch_7pm'

In [100]:
#C:\\batches\\batch130pm

In [101]:
alpha.append("python")

In [102]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y', 'python']

In [103]:
print(a1)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y', 'python']

In [104]:
print(a2)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y']

In [105]:
a2.append("xyz")

In [106]:
print(a2)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y', 'xyz']

In [107]:
print(a1)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y', 'python']

In [108]:
print(alpha)

['a', 'b', 'd', 'e', 'e', 'g', 'h', 'h', 'i', 'i', 'k', 'n', 'o', 'o', 'p', 't', 'u', 'x', 'y', 'y', 'python']

In [109]:
##deep copy and shallow copy concept

In [118]:
students = [
    ['name','shubham','tushar','rahul','ayushi'],
    ['science',90,85,95,75],
    ['english',85,75,90,45],
    ['maths',65,90,78,65]
]

#1 --> take student name as input
#2 --> take science marks as input and update the previous marks
#3 --> take english as input and update previous english marks
#4 --> Take maths marks as input and update previous maths marks
#5 --> print all the details of that student

In [122]:
l1[1][1] = "python"  #mutable

In [123]:
l1

[[1, 2, 3, 4], [10, 'python', 30], [30, 40, 50]]

In [1]:
name = input("Enter your name : ").lower()
science = int(input("Enter science marks : "))

Enter your name : tushar
Enter science marks : 45

In [117]:
science

45

In [114]:
name

'tushar'

### Functions that are changing my initial list

    1. append
    2. insert
    3. extend
    4. pop
    5. pop(index)
    6. remove
    7. sort
    8. clear
    9. reverse

### Tuple

    1. Sequential
    2. Ordered
    3. Immutable
    
    Collection of elements 
    t = () --> parenthesis
    
    Homogenous and heterogenous

In [124]:
t = (1,2,3,4)
type(t)

tuple

In [125]:
t = (1,2,3,4,[10,20,30],"python")

In [126]:
type(t)

tuple

In [127]:
a = 1,2,3,4
type(a)

tuple

In [128]:
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

1. Concatenation
2. Repetition
3. Indexing

In [129]:
t1 = (1,2,3,4)   
t2  = ("one","two","three","four")

In [130]:
print(t1+t2)  #concatenation

(1, 2, 3, 4, 'one', 'two', 'three', 'four')

In [131]:
t1

(1, 2, 3, 4)

In [132]:
t2

('one', 'two', 'three', 'four')

In [133]:
t1*4

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [134]:
(t1+("hello","hi"))*3  #repetetion

(1,
 2,
 3,
 4,
 'hello',
 'hi',
 1,
 2,
 3,
 4,
 'hello',
 'hi',
 1,
 2,
 3,
 4,
 'hello',
 'hi')

In [135]:
t2

('one', 'two', 'three', 'four')

In [136]:
t2[0]

'one'

In [137]:
len(t2)

4

In [138]:
t2[-1]

'four'

In [139]:
t2[-2]

'three'

In [140]:
t2[-4]

'one'

In [142]:
t2[0] = "python"

TypeError: 'tuple' object does not support item assignment

In [143]:
t1

(1, 2, 3, 4)

In [144]:
t = (10,20,"hello","hi",(1,2,3))  #nested tuple

In [145]:
t

(10, 20, 'hello', 'hi', (1, 2, 3))

In [147]:
t[-1][0]

1

In [148]:
t[-1][-1]

3

In [150]:
t

(10, 20, 'hello', 'hi', (1, 2, 3))

## slicing

In [151]:
t[::-1]

((1, 2, 3), 'hi', 'hello', 20, 10)

In [152]:
t[2:]

('hello', 'hi', (1, 2, 3))

In [153]:
t[1:4]   #t[1],t[2],t[3]

(20, 'hello', 'hi')

In [154]:
t[-1:-3:-1]

((1, 2, 3), 'hi')

### count

In [155]:
t = ('a','b','c','d','a','g','j','l','i')
print(t.count('a'))

2

In [156]:
t.count('l')

1

In [157]:
t.count('r')

0

### index

In [158]:
t

('a', 'b', 'c', 'd', 'a', 'g', 'j', 'l', 'i')

In [159]:
t.index('c')

2

In [160]:
t.index('l')

7

In [161]:
t.index('a')

0

In [162]:
t.index('d')

3

In [163]:
##tuple, list --> used for storing multiple data or elements or objects

### Dictionary


    1. Non Sequential
    2. Unordered
    3. Mutable
    
    
    {'key':'value','key1':'value1'}
    
    
    1. Keys are always unique
    2. Access the value by key
    3. Keys are only immutable data type (number,string,tuple)
    4. Values can be of any data type

In [164]:
d = {}
type(d)

dict

In [165]:
d1 = {'name':'simran','city':'jaipur','state':'rajasthan','birth place':'gwalior'}

In [166]:
d1

{'name': 'simran',
 'city': 'jaipur',
 'state': 'rajasthan',
 'birth place': 'gwalior'}

In [167]:
type(d1)

dict

In [168]:
d1['name']

'simran'

In [169]:
d1['city']

'jaipur'

In [170]:
d1['state']

'rajasthan'

In [171]:
d1['birth place']

'gwalior'