In [1]:
students = {'name':['tushar','shubham','rahul'],'science':[80,90,85],'maths':[56,78,89]}

In [2]:
type(students)

dict

In [11]:
d = dict.fromkeys(['name','maths','science'],[])

In [12]:
d

{'name': [], 'maths': [], 'science': []}

In [13]:
d.keys()

dict_keys(['name', 'maths', 'science'])

In [14]:
d.values()

dict_values([[], [], []])

In [16]:
id(d['name'])

1947243942728

In [17]:
id(d['maths'])

1947243942728

In [18]:
id(d['science'])

1947243942728

In [20]:
name = input("Enter your name : ")
maths = eval(input("Enter your maths marks : "))
science = eval(input("Enter your science marks : "))
d['name'].append(name)
print()
print(d)
d['maths'].append(maths)
print("\n",d)
d['science'].append(science)
print("The final dictionary is : ",d)

Enter your name : simran
Enter your maths marks : 80
Enter your science marks : 90

{'name': ['simran'], 'maths': ['simran'], 'science': ['simran']}

 {'name': ['simran', 80], 'maths': ['simran', 80], 'science': ['simran', 80]}
The final dictionary is :  {'name': ['simran', 80, 90], 'maths': ['simran', 80, 90], 'science': ['simran', 80, 90]}

In [10]:
d

{'name': ['simran', 90, 80],
 'maths': ['simran', 90, 80],
 'science': ['simran', 90, 80]}

In [21]:
d = dict.fromkeys(['name','maths','science'],[])

In [22]:
d

{'name': [], 'maths': [], 'science': []}

In [23]:
name = input("Enter your name : ")
maths = eval(input("Enter your maths marks : "))
science = eval(input("Enter your science marks : "))
d['name'] = [name]
print()
print(d)
d['maths'] = [maths]
print("\n",d)
d['science'] = [science]
print("\nThe final dictionary is : ",d)

Enter your name : simran
Enter your maths marks : 90
Enter your science marks : 80

{'name': ['simran'], 'maths': [], 'science': []}

 {'name': ['simran'], 'maths': [90], 'science': []}

The final dictionary is :  {'name': ['simran'], 'maths': [90], 'science': [80]}

In [25]:
d

{'name': ['simran', 'rahul'], 'maths': [90, 67], 'science': [80, 78]}

In [27]:
d['name'].append("tushar")

In [31]:
d['maths'].append(56)

In [32]:
d['maths']

[90, 67, 56]

In [34]:
d['science'].append(69)

In [35]:
d

{'name': ['simran', 'rahul', 'tushar'],
 'maths': [90, 67, 56],
 'science': [80, 78, 69]}

In [37]:
print("\n Initial dictionary is : ",d)
name = input("Enter your name : ")
maths = eval(input("Enter your maths marks : "))
science = eval(input("Enter your science marks : "))
d['name'].append(name)
d['maths'].append(maths)
d['science'].append(science)
print("The final dictionary is : ",d)

 Initial dictionary is :  {'name': ['simran', 'rahul', 'tushar', 'kunal'], 'maths': [90, 67, 56, 70], 'science': [80, 78, 69, 80]}
Enter your name : rohan
Enter your maths marks : 67
Enter your science marks : 56
The final dictionary is :  {'name': ['simran', 'rahul', 'tushar', 'kunal', 'rohan'], 'maths': [90, 67, 56, 70, 67], 'science': [80, 78, 69, 80, 56]}

In [38]:
a = []
print(id(a))
b = [].copy()
print(id(b))

1947244799560
1947241257480

In [39]:
a.append("simran")

In [40]:
b.append(19)

In [41]:
a

['simran']

In [42]:
b

[19]

In [43]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [44]:
d.pop()

TypeError: pop expected at least 1 arguments, got 0

In [46]:
help(d.pop)

Help on built-in function pop:

pop(...) method of builtins.dict instance
    D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
    If key is not found, d is returned if given, otherwise KeyError is raised

#### pop

    pop(key) ---> it will remove this key
    dict_object.pop(key)

In [47]:
d

{'name': ['simran', 'rahul', 'tushar', 'kunal', 'rohan'],
 'maths': [90, 67, 56, 70, 67],
 'science': [80, 78, 69, 80, 56]}

In [48]:
weather = {'temp':25,'desc':'cloudy','state':'raj','city':'jaipur'}

In [49]:
weather['abc'] = "hello"

In [50]:
weather

{'temp': 25,
 'desc': 'cloudy',
 'state': 'raj',
 'city': 'jaipur',
 'abc': 'hello'}

In [51]:
weather.pop('abc')

'hello'

In [52]:
weather

{'temp': 25, 'desc': 'cloudy', 'state': 'raj', 'city': 'jaipur'}

In [55]:
weather.pop('abc')

KeyError: 'abc'

In [57]:
weather.pop('state')

'raj'

In [58]:
weather

{'temp': 25, 'desc': 'cloudy', 'city': 'jaipur'}

In [60]:
help(weather.popitem)

Help on built-in function popitem:

popitem(...) method of builtins.dict instance
    D.popitem() -> (k, v), remove and return some (key, value) pair as a
    2-tuple; but raise KeyError if D is empty.

In [61]:
weather.popitem()

('desc', 'cloudy')

In [63]:
weather

{'temp': 25}

In [64]:
weather.popitem()

('temp', 25)

In [65]:
weather

{}

In [66]:
weather.popitem()

KeyError: 'popitem(): dictionary is empty'

In [69]:
resume = {
    'Personal Info' : {
        'Name' : 'Simran Grover',
        'Email' : 'simrangrover5@gmail.com',
        'Phno' :  'xyz',
        'dob' : 'xyz'
    },
    'Languages Known' : ['Hindi','English'],
    'Skills' : {
        'Programming Language' : ['C','C++','Python'],
        'Other Languages' : ['html','jinja','latex'],
        'Development' : ['Django','flask','tkinter']
    },    
}

In [70]:
resume.keys()

dict_keys(['Personal Info', 'Languages Known', 'Skills'])

In [71]:
resume.items()

dict_items([('Personal Info', {'Name': 'Simran Grover', 'Email': 'simrangrover5@gmail.com', 'Phno': 'xyz', 'dob': 'xyz'}), ('Languages Known', ['Hindi', 'English']), ('Skills', {'Programming Language': ['C', 'C++', 'Python'], 'Other Languages': ['html', 'jinja', 'latex'], 'Development': ['Django', 'flask', 'tkinter']})])

In [72]:
resume['Experience'] = '2.5yrs'

In [73]:
resume

{'Personal Info': {'Name': 'Simran Grover',
  'Email': 'simrangrover5@gmail.com',
  'Phno': 'xyz',
  'dob': 'xyz'},
 'Languages Known': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['C', 'C++', 'Python'],
  'Other Languages': ['html', 'jinja', 'latex'],
  'Development': ['Django', 'flask', 'tkinter']},
 'Experience': '2.5yrs'}

In [74]:
resume['abc'] = "hello"

In [75]:
d1 = {'Company':['Grras'],'Xyz':'Bye'}

In [76]:
resume.update(d1)

In [77]:
resume

{'Personal Info': {'Name': 'Simran Grover',
  'Email': 'simrangrover5@gmail.com',
  'Phno': 'xyz',
  'dob': 'xyz'},
 'Languages Known': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['C', 'C++', 'Python'],
  'Other Languages': ['html', 'jinja', 'latex'],
  'Development': ['Django', 'flask', 'tkinter']},
 'Experience': '2.5yrs',
 'abc': 'hello',
 'Company': ['Grras'],
 'Xyz': 'Bye'}

In [78]:
resume.pop(input("Enter any key : "))

Enter any key : Xyz

'Bye'

In [79]:
resume

{'Personal Info': {'Name': 'Simran Grover',
  'Email': 'simrangrover5@gmail.com',
  'Phno': 'xyz',
  'dob': 'xyz'},
 'Languages Known': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['C', 'C++', 'Python'],
  'Other Languages': ['html', 'jinja', 'latex'],
  'Development': ['Django', 'flask', 'tkinter']},
 'Experience': '2.5yrs',
 'abc': 'hello',
 'Company': ['Grras']}

In [80]:
resume.update(project=['anserbag','proxy server','automation website'],topic=['django','python','python'])

In [81]:
resume

{'Personal Info': {'Name': 'Simran Grover',
  'Email': 'simrangrover5@gmail.com',
  'Phno': 'xyz',
  'dob': 'xyz'},
 'Languages Known': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['C', 'C++', 'Python'],
  'Other Languages': ['html', 'jinja', 'latex'],
  'Development': ['Django', 'flask', 'tkinter']},
 'Experience': '2.5yrs',
 'abc': 'hello',
 'Company': ['Grras'],
 'project': ['anserbag', 'proxy server', 'automation website'],
 'topic': ['django', 'python', 'python']}

In [82]:
resume.update(Company="Grras")

In [83]:
resume

{'Personal Info': {'Name': 'Simran Grover',
  'Email': 'simrangrover5@gmail.com',
  'Phno': 'xyz',
  'dob': 'xyz'},
 'Languages Known': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['C', 'C++', 'Python'],
  'Other Languages': ['html', 'jinja', 'latex'],
  'Development': ['Django', 'flask', 'tkinter']},
 'Experience': '2.5yrs',
 'abc': 'hello',
 'Company': 'Grras',
 'project': ['anserbag', 'proxy server', 'automation website'],
 'topic': ['django', 'python', 'python']}

In [84]:
resume.update(company="ABC")

In [85]:
resume

{'Personal Info': {'Name': 'Simran Grover',
  'Email': 'simrangrover5@gmail.com',
  'Phno': 'xyz',
  'dob': 'xyz'},
 'Languages Known': ['Hindi', 'English'],
 'Skills': {'Programming Language': ['C', 'C++', 'Python'],
  'Other Languages': ['html', 'jinja', 'latex'],
  'Development': ['Django', 'flask', 'tkinter']},
 'Experience': '2.5yrs',
 'abc': 'hello',
 'Company': 'Grras',
 'project': ['anserbag', 'proxy server', 'automation website'],
 'topic': ['django', 'python', 'python'],
 'company': 'ABC'}

In [88]:
resume['Skills']

{'Programming Language': ['C', 'C++', 'Python'],
 'Other Languages': ['html', 'jinja', 'latex'],
 'Development': ['Django', 'flask', 'tkinter']}

In [89]:
d = {(1,2,3):['one','two','three']}

In [90]:
d

{(1, 2, 3): ['one', 'two', 'three']}

In [91]:
d[(1,2,3)]

['one', 'two', 'three']

In [ ]:
### corona dictionary --> {'India' : {'Raj':{'Jaipur':1000,'Bikaner':,}}

### Sets