### Sets

1. Non Sequential (no ordered)
2. Unordered (no indexing)
3. Mutable
4. Unique Element


    Identification --> {}

In [1]:
l = [1,2,3,4,1,1,2,2,3,3,4,5]

In [2]:
s = {}
print(type(s))

<class 'dict'>

In [3]:
s = {1,2,3,4,5}
type(s)

set

In [4]:
s2 = {1,2,1,2,3,3,1,4,5}
print(type(s2))

<class 'set'>

In [5]:
print(s2)    #only unique elements

{1, 2, 3, 4, 5}

In [6]:
#set --> it is used to convert from any iterable data type to set
#set(iterable object)

In [7]:
s = set(l)
print(s)

{1, 2, 3, 4, 5}

In [8]:
type(s)

set

In [9]:
id(s)

2060285613896

In [10]:
id(l)

2060283935304

In [11]:
s1 = set("python")

In [12]:
s1   #unordered

{'h', 'n', 'o', 'p', 't', 'y'}

In [14]:
s2 = {10,20,1,2,"hello",12,"bye"}

In [15]:
s2

{1, 10, 12, 2, 20, 'bye', 'hello'}

### Operations

1. Intersection
2. Union
3. Difference
4. Symmetric difference

In [16]:
score1 = {10,20,3,0,1,2,45,67,89}
score2 = {23,45,67,89,1,0,56,12,90}

In [17]:
type(score1)

set

In [18]:
type(score2)

set

In [19]:
print(dir(score1))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

#### Intersection

    set_object1.intersection(object) --> return the common elements

In [20]:
score1.intersection(score2)

{0, 1, 45, 67, 89}

In [21]:
score2.intersection(score1)

{0, 1, 45, 67, 89}

#### Union

    set_object.union(object) --> It will all the elements of both the sets

In [23]:
score1.union(score2)

{0, 1, 2, 3, 10, 12, 20, 23, 45, 56, 67, 89, 90}

In [24]:
score2.union(score1)

{0, 1, 2, 3, 10, 12, 20, 23, 45, 56, 67, 89, 90}

In [25]:
score1.intersection(l)

{1, 2, 3}

In [26]:
l

[1, 2, 3, 4, 1, 1, 2, 2, 3, 3, 4, 5]

In [27]:
score1

{0, 1, 2, 3, 10, 20, 45, 67, 89}

In [28]:
l.intersection(score1)

AttributeError: 'list' object has no attribute 'intersection'

#### Difference

    set_obj1.difference(obj2) --> s1 - s2 --> s1 - (s1.intersection(s2))

In [29]:
score1.difference(score2)  #s1 - (s1.inter(s2))

{2, 3, 10, 20}

In [30]:
score1

{0, 1, 2, 3, 10, 20, 45, 67, 89}

In [31]:
score2

{0, 1, 12, 23, 45, 56, 67, 89, 90}

In [32]:
score2.difference(score1)  #s2 - (s1.inter(s2))

{12, 23, 56, 90}

#### Symmetric Difference

    s1.symmetric_difference(s2) --> (s1 union s2) - (s1 intersection s2)

In [34]:
score1.symmetric_difference(score2)

{2, 3, 10, 12, 20, 23, 56, 90}

In [35]:
score1 - score2   # - --> difference

{2, 3, 10, 20}

In [36]:
score2 - score1

{12, 23, 56, 90}

In [37]:
football = {'shubham','tushar','rahul','arohi','ayushi','rohan','riya'}
basketball = {'arohi','riya','rahul','simran','ayush'}
badminton = {'shubham','rohan','simran','surbhi','sonam'}
volleyball = {'surbhi','rahul','tushar','raghav'}

1. Student names playing basketball and football
2. Names playing volleyball but not badminton
3. Names playing badminton and football but not basketball
4. Names playing volleyball, badmintion and football
5. Names playing football but not basketball
6. Names playing all four games
7. Names playing only football
8. Names playing only basketball but not volleyball

In [38]:
#1. 
football.intersection(basketball)

{'arohi', 'rahul', 'riya'}

In [39]:
#2
volleyball.difference(badminton)

{'raghav', 'rahul', 'tushar'}

In [40]:
#3
b_i_f = badminton.intersection(football)
b_i_f.intersection(basketball)  #names playing bad,foot,basket

set()

In [42]:
b_i_f - basketball

{'rohan', 'shubham'}

In [43]:
#4
v_i_b = volleyball.intersection(badminton)
v_i_b.intersection(football)

set()

In [44]:
#5
football.difference(basketball)

{'ayushi', 'rohan', 'shubham', 'tushar'}

In [45]:
football = {'shubham','tushar','rahul','arohi','ayushi','rohan','riya','tarun'}
basketball = {'arohi','riya','rahul','simran','ayush','tarun'}
badminton = {'shubham','rohan','simran','surbhi','sonam','tarun'}
volleyball = {'surbhi','rahul','tushar','raghav','tarun'}

In [46]:
#6
f_n_b = football.intersection(basketball)
f_bb = f_n_b.intersection(badminton)

In [48]:
f_bb.intersection(volleyball)

{'tarun'}

In [50]:
#7
bb = basketball.union(badminton)
bb_v = bb.union(volleyball)
print(bb_v)

{'raghav', 'tushar', 'ayush', 'rahul', 'shubham', 'rohan', 'sonam', 'simran', 'surbhi', 'riya', 'tarun', 'arohi'}

In [51]:
football-bb_v

{'ayushi'}

In [52]:
#8
basketball.difference(volleyball)

{'arohi', 'ayush', 'riya', 'simran'}

In [53]:
#shift+enter