## Data Types 
    Data --> Raw input or any raw object
    (information --> Collection Of data or processed form of data)
    
    Name --> data
    Tushar --> data
    Tushar is a name of a boy --> information
    
    Type --> Category
    Food --> Categories --> Fruit , Vegtable, Snack
               Banana --> Fruit
               Lady Finger --> Vegatables
            Every category has its properties
                    Table       Chair
     Properties--> Rectangle    L shape
                    Wood        Wood
                   
                   
    Data Type --> Data which has a some properties and that will defines it types
    And every data type has its specific rules

    a - z --> english
    0 - 9 --> Maths


    Programming Language --> Data
    to perform the addition data 
    
    data <--> Object

In [1]:
a = 10   #10 --> data #a --> object or variable or identifier

In [3]:
10  #in this case our is stored we cannot use it further

10

    variables --> Those data can be changed or value can be changed
    identifiers --> These are the naming rules of variables
    1. Always start with alphabet
    2. it consits of alphabets and numbers
    3. It should contain no special character except _

## Data Types or Data Structures

1. Number
2. Strings
3. List
4. Tuple
5. Sets
6. Dictionary

## Number

1. Integer --> Non decimal number
2. Float --> Decimal Number
3. Complex --> Real and imaginery part

In [1]:
a = 10  #integer
b = 10.23  #float
c = 3+4j   #complex

In [5]:
a

10

In [6]:
b

10.23

In [7]:
c

(3+4j)

In [8]:
type(a)   #it will return the type of the object

int

In [9]:
type(b)  #shell output

float

In [2]:
type(c)

complex

In [3]:
print(type(a))   #print --> std output

<class 'int'>

In [4]:
type(23.45678)

float

In [5]:
type(3+4j)

complex

In [6]:
a

10

In [7]:
#Each object has unique identification that we can see through id
id(a)

140728531395248

In [8]:
id(b)

2391985288368

In [9]:
id(c)

2391987372336

In [10]:
a = 10
b = 10
print(id(a))
print(id(b))

140728531395248
140728531395248

In [11]:
b = 20

In [12]:
id(b)

140728531395568

In [13]:
b

20

In [14]:
a = 9876654190909
b = 9876654190909
print(id(a))
print(id(b))

2391987373904
2391987373936

In [15]:
a = 256
b = 256
print(id(a))
print(id(b))

140728531403120
140728531403120

In [16]:
a = 257
b = 257
print(id(a))
print(id(b))

2391987374288
2391987374256

In [18]:
2**8  #** --> power

256

## Strings


1. We can write strings in single quotes, double quotes, triple quotes

In [19]:
s1 = 'hello world'
s2 = "hello world"
s3 = """hello world"""

In [20]:
type(s1)

str

In [21]:
type(s2)

str

In [22]:
type(s3)

str

In [23]:
s = 'a'
print(type(s))

<class 'str'>

#### Every data Type in Python is classified in these categories

1. ordered/unordered
2. sequential/non-sequential
3. mutable/ immutable

### Strings are : 

1. ordered
2. Sequential
3. Immutable

In [24]:
s = "hello" 
#each element is identified by there index
#and indexing is in ordered form 0 increasing  or -1 then decreasing

In [25]:
s

'hello'

In [26]:
s[0]

'h'

In [27]:
s[1]

'e'

     -5-4-3-2-1
    "h e l l o"
     0 1 2 3 4

In [28]:
s[-1]

'o'

In [29]:
#s --> 'hello' --> 'hellg'

In [30]:
s[-1] = "g"  #immutable

TypeError: 'str' object does not support item assignment

In [31]:
s

'hello'

In [33]:
id(s)

2391987568432

In [34]:
id(s[0])

2391945049136

In [35]:
id(s[1])

2391914921392

In [36]:
s = "hellg"

In [37]:
s

'hellg'

## The following Operations are performed on Sequential Data Types

1. Concatenation (+)
2. Repetition (*)
3. Indexing

In [38]:
#concatenation
s1 = "hello"
s2 = "world"
print(s1+s2)

helloworld

In [39]:
s1 + " " + s2

'hello world'

In [40]:
s1 + 1

TypeError: can only concatenate str (not "int") to str

In [42]:
print(s1+"\n"+s2) #\n --> newline

hello
world

In [44]:
print(s1 + '\t' + s2)  #\t --> tab

hello	world

In [46]:
#repetition

s1*10

'hellohellohellohellohellohellohellohellohellohello'

In [47]:
(s1 + " ")*10

'hello hello hello hello hello hello hello hello hello hello '

In [48]:
"*"*80

'********************************************************************************'

In [51]:
s1 = "This is my cat "
s2 = "This is my dog "
print((s1+s2)*5)

This is my cat This is my dog This is my cat This is my dog This is my cat This is my dog This is my cat This is my dog This is my cat This is my dog

In [52]:
print("#"*100)

####################################################################################################

In [53]:
1 + s1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [54]:
'1' + s1

'1This is my cat '

In [56]:
'123'+  " "+ s1

'123 This is my cat '