In [4]:
### Print Function

n = int(input())
for i in range(1,n+1): #i -> range(1,3) --> 1,2
    print(i,end="")

3
123

In [6]:
print(*range(1,n+1),sep=",") #print(1,2,3)

1,2,3

In [7]:
print(*range(1,n+1),sep="") #print(1,2,3)

123

In [9]:
2100%4

0

In [14]:
year = int(input("\n Enter any number : "))
if year%4 == 0:
    if year%100== 0:   #centuarial leap year
        if year%400 == 0:
            print("Leap")
        else:
            print("Not Leap")
    else:
        print("Leap")
else:
    print("Not Leap")

 Enter any number : 1992
Leap

In [15]:
##loops

n = int(input())
for i in range(n):
    print(i**2)

5
0
1
4
9
16

In [17]:
### tuple

t = (1,2,3)
print(hash(t))

2528502973977326415

In [24]:
n = int(input())
l = []
for i in range(n):
    l.append(int(input()))

2
12
13

In [25]:
hash(tuple(l))

3713076219283430056

In [26]:
#space separated input
t = input()

1 2 3 4 5 6 7 8 9

In [33]:
l = t.split()
newl = []
for i in l:
    newl.append(int(i))
print(hash(tuple(newl)))

568694502952057910

In [34]:
l

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [38]:
t11 = tuple(map(int,l))

In [41]:
print(hash(t11))

568694502952057910

In [42]:
###strings --> split, join

s = "hello world how are you"
s.split()

['hello', 'world', 'how', 'are', 'you']

In [43]:
"-".join(s.split())

'hello-world-how-are-you'