In [1]:
#localhost --> host --> computer , local --> my
#localhost --> home , localhost --> 127.0.0.1 , host

In [3]:
#cell
#modes
#run the cell --> shift + enter

1. This is first class of python
2. Taking the introduction of anaconda
3. Commands can be use in jupyter notebook
4. to go into command mode use esc

# First Class

    1. esc + h --> all commands and shortcuts
    2. esc + m --> markdown mode
    3. esc + y --> code mode
    4. esc + r --> raw 
    5. esc + a --> insert cell above
    6. esc + b --> insert cell below
    7. esc + dd --> delete cell

*
* * 
* * * 
* * * *

In [ ]:
a = input("Enter a number : ")
print("hello world")

In [2]:
a = 10

In [3]:
print(a)

10

In [5]:
#ipynb --> intereactive python notebook --> jupyter-notebook

## Data Types or Data Structures

In [6]:
# --> single line comment python

In [7]:
#123 --> arithemetic operations
#hello --> word

In [ ]:
#data ---> object 
#data --> raw fact or figure
#the operations that you can perform on data is written in a class

1. Number 
2. Strings
3. List
4. Tuple
5. Sets
6. Dictionary

## Number

        1. Integer --> Non decimal Number
        2. Float --.> Decimal Number
        3. Complex --> real and imaginery

In [8]:
a = 10  #integer
b = 12.345  #float
c = 3+4j #complex 3 --> real and 4 --> imaginery

In [9]:
##to see the type of the data or object
type(a)

int

In [10]:
type(b)

float

In [11]:
type(c)

complex

In [12]:
id(a)

140732847727280

In [13]:
id(b)

2298934313488

In [14]:
id(c)

2298934313680

In [15]:
a = 10
b = 10

In [16]:
type(a)

int

In [17]:
type(b)

int

In [18]:
id(a)

140732847727280

In [19]:
id(b)

140732847727280

In [20]:
b = 25

In [21]:
id(b)

140732847727760

In [22]:
id(a)

140732847727280

In [23]:
a = 256
b = 256
print(id(a))
print(id(b))

140732847735152
140732847735152

In [24]:
a = 257
b = 257
print(id(a))
print(id(b))

2298934315760
2298934315728

In [25]:
2**8  #** --> power

256

In [26]:
a = 987654321
b = 987654321
print(id(a))
print(id(b))

2298934315920
2298934315888

In [27]:
###hackerrank,hackerearth,codechef,geeksforgeeks

In [ ]:
#6:45pm (tomorrow)
#7:15pm