    Database
    
        To store data
        Data --> Anything raw fact or figures
        Infomation --> Processed form of data
                    Collection of data
                    Getting something useful from data
        Name      course    city
        Simran    Python    Jaipur
        
        Simran studies python and lives in jaipur
        
        Data (Companies --> google,facebook,IBM,TCS)
        Signup --> Data Store
        Login --> Data Fetch
        Queries
        
        
        File Handling vs Database
        Database Benefits
        1. Large data store
        2. Redundancy (Repitetion)
        3. Easy Retrival (Queries)
        4. Fast Access 
        5. Relationships
        6. Security (permissions)
        7. Structured (Non structured)
        8. ACID Transaction Properties
            A --> Atomicity --> Either complete or nothing
            C --> Consistency --> Changes remains same after the successfull transaction.
            I --> Isolation --> Transactions are independent
            D --> Durability --> if data is store permanetly then it should not change even after the failure

            Emp_Name      Emp_id      Emp_course        Emp_address            Phno
            Simran          1            Python           Malviya Nagar
            Rajat           2            Linux            Malviya Nagar
            Nidhi           3            Aws               Jagatpura
            Manish          4            Ethical Hacking    Gopal Pura mod
            Shivam          5              Null              Raja Park
            
            
            EMP_id        Python        DS     Advance/Development  Ethical Hacking
            1               Yes          Yes           Yes             No
            4               Yes          no             no             Yes

    Types Of database
    
    
    1. SQL
        Structured Query Language
        
        Structured --> Table format --> rows and columns
        Query --> Queries Put
        Language --> Rules, syntax
        
        RDBMS --> Relational Database Management System
        
        Eg --> MySQL, Oracle, Postgresql,mariadb,sqlite etc
    2. No SQL
        Non Structural Query Language
            1.  {
            "id" : 1
            }
            
            {
            "id" : 2,
            "name" : "simran"
            }
            
           No Relational DBMS
            
           Eg --> MongoDB

### SQL 
        1. Mysql
        2. Sqlite

        Database --> tables (structure/design) ---> data

                    SQL Languagess
                    
                    1. DDL --> Data definition Lang.
                                Schema --> Overall structure of your table
                                1. create
                                2. alter --> columns update (add col, remove col, col data type change)
                                3. drop --> Data delete and table delete 
                                4. truncate --> data delete 
                                5. rename
                                6. comment
                    2. DML --> Data Manipulation Lang.
                                1. insert
                                2. update --> to change data
                                3. delete --> delete particular row
                                4. select
                    3. DCL --> Data Control Lang.
                                1. Grant (to give permissions)  
                                2. Revoke (to take back permissions)
                                SELECT, INSERT --> take back
                    4. TCL --> Transaction Control Lang.
                                1. commit --> permanently save the data
                                2. savepoint 
                                3. rollback

1. Different types of database use in different companies (top 10, Social)
2. Different data types of database
3. Entity Relationship Diagram

          Keys:
              1. Primary key  --> Uniquely Identify  (Not null) (Can be single in whole table)
              2. Unique key --> Uniquely identify  (null)
              3. Composite key --> more than two columns --> primary key
                  name + id --> primary key
              4. Candidate key --> columns eligible to become primary keys
                  id, phno, email
              5. Alternate key --> That cannot be primary key
                  name, address, course
              6. Foreign Key --> relate two tables
                  and table can have multiple foreign keys
              7. Super key 
                     combine all columns and make a single primary key

    Application --> Mysql, xampp