__init__, __new__ --> object construction

In [1]:
l = []

In [2]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

### Contructor
    __new__
    __init__

In [10]:
l = list.__new__(list)   #list.__new__(classname)
#__new__ --> to give physical space to object so that you can use that space for initialization object values/variables

In [11]:
l

[]

In [12]:
print(id(l))

1997098814536

In [13]:
list.__init__(l,[1,2,3,4,5])  #initialize #list.__init__(list_object,value)

In [14]:
l

[1, 2, 3, 4, 5]

In [16]:
class A:
    pass

In [17]:
obj = A()  #default __new__, __init__ are called
print(dir(obj))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']

In [18]:
class A:
    def __new__(cls):
        print("hello i am the first that is called and i will return to init")
        return object.__new__(cls)
    
    def __init__(self):
        print("\n I am called after init and i will accept the object created by new through self")
        print(id(self))
        
obj = A()

hello i am the first that is called and i will return to init

 I am called after init and i will accept the object created by new through self
1997098745800

In [19]:
id(obj)

1997098745800

In [20]:
class A:
    def __init__(self,name):
        print("\n Hello i am called")
        self.name = name
obj = A()  #by default __new__ is called (object --> __new__) __init__ of our class is called

TypeError: __init__() missing 1 required positional argument: 'name'

In [21]:
class A:
    def __init__(self,name):
        print("\n Hello i am called")
        self.name = name
obj = A("simran")  #by default __new__ is called (object --> __new__) __init__ of our class is called

 Hello i am called

In [22]:
obj.__dict__

{'name': 'simran'}

In [23]:
#obj --> science
#obj --> maths

In [24]:
class Student:
    total = 0
    def __init__(self,name,age,phno):
        self.name = name
        self.age = age
        self.phno = phno
        Student.total += 1
    def get_attr(self):
        for attr,value in self.__dict__.items():
            print("Attribute : ",attr,"Value : ",value)
            
    def get_total(self):
        print("\n The total number of students are : ",Student.total)
        
s1 = Student("shahid",20,987564321)  #__init__ will be called
s2 = Student("Sahil",22,9876543210)
s3 = Student("Komal",24,9876543210)

In [25]:
s1.get_attr()

Attribute :  name Value :  shahid
Attribute :  age Value :  20
Attribute :  phno Value :  987564321

In [26]:
s2.get_attr()

Attribute :  name Value :  Sahil
Attribute :  age Value :  22
Attribute :  phno Value :  9876543210

In [27]:
s3.get_attr()

Attribute :  name Value :  Komal
Attribute :  age Value :  24
Attribute :  phno Value :  9876543210

In [28]:
s1.get_total()

 The total number of students are :  3

In [29]:
s2.get_total()

 The total number of students are :  3

In [30]:
s1.course = "Python"

In [31]:
s2.course = "Data Science"

In [32]:
s1.get_attr()

Attribute :  name Value :  shahid
Attribute :  age Value :  20
Attribute :  phno Value :  987564321
Attribute :  course Value :  Python

In [33]:
s2.get_attr()

Attribute :  name Value :  Sahil
Attribute :  age Value :  22
Attribute :  phno Value :  9876543210
Attribute :  course Value :  Data Science

In [34]:
l = [1,2,3,4]

In [35]:
l

[1, 2, 3, 4]

In [36]:
print(l)

[1, 2, 3, 4]

In [37]:
s1  #shell output --> __repr__

In [38]:
s2

In [39]:
print(s1)  #std output --> __str__

<__main__.Student object at 0x000001D0FC5E9A88>

In [40]:
print(s2)

<__main__.Student object at 0x000001D0FC5E9AC8>

In [53]:
class Student:
    total = 0
    def __init__(self,name,age,phno):
        self.name = name
        self.age = age
        self.phno = phno
        Student.total += 1
    def get_attr(self):
        for attr,value in self.__dict__.items():
            print("Attribute : ",attr,"Value : ",value)
            
    def get_total(self):
        print("\n The total number of students are : ",Student.total)
        
    def __repr__(self):
        return f"{self.name}"
    
    def __str__(self):
        return f"{self.name}"
        
s1 = Student("shahid",20,987564321)  #__init__ will be called
s2 = Student("Sahil",22,9876543210)
s3 = Student("Komal",24,9876543210)

In [54]:
s1  #--> __repr__(s1)

shahid

In [55]:
s2 #__repr__(s2)

Sahil

In [56]:
s3  #__repr__(s3)

Komal

In [57]:
print(s1) #__str__(s1)

shahid

In [58]:
print(s2)  #__str__(s2)

Sahil

In [59]:
l

[1, 2, 3, 4]

In [60]:
del l

In [61]:
print(id(l))

NameError: name 'l' is not defined

In [ ]:
#__del__ --> del l

In [70]:
class Student:
    total = 0
    def __init__(self,name,age,phno):
        self.name = name
        self.age = age
        self.phno = phno
        Student.total += 1
    def get_attr(self):
        for attr,value in self.__dict__.items():
            print("Attribute : ",attr,"Value : ",value)
            
    def get_total(self):
        print("\n The total number of students are : ",Student.total)
        
    def __repr__(self):
        return f"{self.name}"
    
    def __str__(self):
        return f"{self.name}"
    
    def __del__(self):
        print("Deleting : ",id(self))
        del self
        
s1 = Student("shahid",20,987564321)  #__init__ will be called
s2 = Student("Sahil",22,9876543210)
s3 = Student("Komal",24,9876543210)

In [63]:
s1

shahid

In [64]:
s2

Sahil

In [65]:
s3

Komal

In [66]:
del s1  #__del__

In [67]:
s1

NameError: name 's1' is not defined

In [68]:
s2

Sahil

In [69]:
s3

Komal

In [71]:
s1

shahid

In [72]:
s2

Sahil

In [73]:
s3

Komal

In [74]:
del s1

In [78]:
%%writefile oops1.py

from time import sleep

class Student:
    total = 0
    def __init__(self,name,age,phno):
        self.name = name
        self.age = age
        self.phno = phno
        Student.total += 1
    def get_attr(self):
        for attr,value in self.__dict__.items():
            print("Attribute : ",attr,"Value : ",value)
            
    def get_total(self):
        print("\n The total number of students are : ",Student.total)
        
    def __repr__(self):
        return f"{self.name}"
    
    def __str__(self):
        return f"{self.name}"
    
    def __del__(self):
        print("Deleting : ",id(self))
        sleep(3)
        del self
        
s1 = Student("shahid",20,987564321)  #__init__ will be called
s2 = Student("Sahil",22,9876543210)
s3 = Student("Komal",24,9876543210)

s1.get_attr()
s2.get_attr()
s3.get_attr()

del s1
del s2
del s3

print(s1)
print(s2)
print(s3)

Overwriting oops1.py

In [79]:
class Rectangle:
    def __init__(self,height,width,col=None,pos=[0,0]):
        self.height = height
        self.width = width
        self.color = col
        self.position = pos
        
    def area(self):
        return self.height*self.width
    
    def __str__(self):
        return f"{self.height}cm,{self.width}cm"
    
    def __repr__(self):
        return f"{self.height}cm,{self.width}cm"
    
    
r1 = Rectangle(13,45,"red")
r2 = Rectangle(34,90,"blue")

In [80]:
r1

13cm,45cm

In [81]:
r2

34cm,90cm

In [82]:
r1.area()

585

In [83]:
r2.area()

3060

In [84]:
r1.color

'red'

In [85]:
r2.color

'blue'

In [87]:
r1.position

[0, 0]

In [88]:
print(r1.area())

585

In [89]:
print(r1.color)

red

In [90]:
r1.position = [1,2]

In [91]:
r1.position

[1, 2]

In [92]:
r2.position

[0, 0]

In [93]:
r1.abc = "heloo"

In [94]:
r1.pqr = "world"

In [95]:
print(r1.__dict__)

{'height': 13, 'width': 45, 'color': 'red', 'position': [1, 2], 'abc': 'heloo', 'pqr': 'world'}

In [96]:
l1 = [1,2,3,45]

In [97]:
l1.abc = "hello"

AttributeError: 'list' object has no attribute 'abc'

In [98]:
for i in range(10):
    r1.__dict__[i] = "hello"

In [99]:
print(r1.__dict__)

{'height': 13, 'width': 45, 'color': 'red', 'position': [1, 2], 'abc': 'heloo', 'pqr': 'world', 0: 'hello', 1: 'hello', 2: 'hello', 3: 'hello', 4: 'hello', 5: 'hello', 6: 'hello', 7: 'hello', 8: 'hello', 9: 'hello'}

In [100]:
#slots

In [101]:
class Rectangle:
    __slots__ = ['height','width','color','position']
    def __init__(self,height,width,col=None):
        self.height = height
        self.width = width
        self.color = col
        
    def area(self):
        return self.height*self.width
    
    def __str__(self):
        return f"{self.height}cm,{self.width}cm"
    
    def __repr__(self):
        return f"{self.height}cm,{self.width}cm"
    
    
r1 = Rectangle(13,45,"red")
r2 = Rectangle(34,90,"blue")

In [102]:
print(r1)

13cm,45cm

In [103]:
r1.__dict__

AttributeError: 'Rectangle' object has no attribute '__dict__'

In [104]:
r1.height

13

In [105]:
r1.width

45

In [106]:
r1.color

'red'

In [107]:
r1.abc = "hello"

AttributeError: 'Rectangle' object has no attribute 'abc'

In [108]:
r1.pos = [0,0]

AttributeError: 'Rectangle' object has no attribute 'pos'

In [109]:
r1.position = [0,0]

In [110]:
r1.position

[0, 0]

In [111]:
r2.position = [1,2]

In [112]:
r2.position

[1, 2]

In [118]:
class Rectangle:
    __slots__ = ['__dict__','position']
    def __init__(self,height,width,col=None):
        self.height = height
        self.width = width
        self.color = col
        
    def area(self):
        return self.height*self.width
    
    def __str__(self):
        return f"{self.height}cm,{self.width}cm"
    
    def __repr__(self):
        return f"{self.height}cm,{self.width}cm"
    
    
r1 = Rectangle(13,45,"red")
r2 = Rectangle(34,90,"blue")

In [119]:
r1.__dict__

{'height': 13, 'width': 45, 'color': 'red'}

In [120]:
r1.abc = "hello"

In [121]:
r1.hello = "world"

In [122]:
r1.position = [0,0]

In [123]:
r1.__dict__

{'height': 13, 'width': 45, 'color': 'red', 'abc': 'hello', 'hello': 'world'}

In [124]:
r1.position

[0, 0]

In [125]:
class Mobile:
    def __init__(self,brand,price,model):
        self.brand = brand
        self.price = price
        self.model = model
    
    def get_attr(self):
        for attr,value in self.__dict__.items():
            print(attr,":",value)
        
m1 = Mobile("Apple",80000,"Iphone 11")
m2 = Mobile("One Plus",35000,"7")

In [126]:
m1.get_attr()

brand : Apple
price : 80000
model : Iphone 11

In [127]:
m2.get_attr()

brand : One Plus
price : 35000
model : 7

    hasattr(object,attr_name)
    delattr()
    setattr(object,attr_name,value)
    getattr(obj,attr_name)

In [128]:
hasattr(m1,"brand")

True

In [129]:
hasattr(m2,"price")

True

In [130]:
hasattr(m1,"discount")

False

In [131]:
hasattr(m2,"abc")

False

In [132]:
getattr(m1,"price")

80000

In [133]:
getattr(m1,"brand")

'Apple'

In [134]:
getattr(m2,"abc")

AttributeError: 'Mobile' object has no attribute 'abc'

In [135]:
getattr(m2,"price")

35000

In [136]:
setattr(m1,"discount",5000)

In [137]:
m1.discount

5000

In [138]:
hasattr(m1,"discount")

True

In [139]:
getattr(m1,"discount")

5000

In [140]:
setattr(m2,"sale","70%")

In [141]:
m2.sale

'70%'

In [142]:
getattr(m2,"sale")

'70%'

In [143]:
del m1

In [144]:
m1

NameError: name 'm1' is not defined

In [145]:
m1 = Mobile("Apple",80000,"11 pro")

In [146]:
m1.brand

'Apple'

In [147]:
m1.price

80000

In [148]:
m1.model

'11 pro'

In [149]:
m1.abc = "hello"   #set attr

In [150]:
m1.abc  #getattr

'hello'

In [151]:
del m1.abc  #delete abc attribute of object m1

In [152]:
m1

In [153]:
m1.model

'11 pro'

In [154]:
m1.price

80000

In [155]:
m1.dis = "10%"

In [156]:
delattr(m1,"dis")

In [157]:
m1.dis

AttributeError: 'Mobile' object has no attribute 'dis'

In [158]:
m1.brand

'Apple'

In [159]:
delattr(m1,"model")

In [160]:
hasattr(m1,"model")

False

In [161]:
hasattr(m1,"brand")

True

### Inheritance

        1. Single
        2. Multiple
        3. Multilevel
        4. Heirarchical
        5. Hybrid

            Class Mobile
                attr
                    model
                    price
                    brand
                method
                    __init__
                    get_attr
                    discount
                        It will set an attribute of discount 
                            1. brand --> apple 10%
                            2. samsung --> 20%
                            3. vivo/mi/oppo --> 25%
                    get_total_price
                        it will return the final price of the object