In [1]:
resume = {
    'Personal Info' : {
        'Name' : 'Simran Grover',
        'Email' : 'simrangrover5@gmail.com',
        'Phno' :  'xyz',
        'dob' : 'xyz'
    },
    'Languages Known' : ['Hindi','English'],
    'Skills' : {
        'Programming Language' : ['C','C++','Python'],
        'Other Languages' : ['html','jinja','latex'],
        'Development' : ['Django','flask','tkinter']
    },    
}

In [2]:
print(resume)

{'Personal Info': {'Name': 'Simran Grover', 'Email': 'simrangrover5@gmail.com', 'Phno': 'xyz', 'dob': 'xyz'}, 'Languages Known': ['Hindi', 'English'], 'Skills': {'Programming Language': ['C', 'C++', 'Python'], 'Other Languages': ['html', 'jinja', 'latex'], 'Development': ['Django', 'flask', 'tkinter']}}

In [3]:
##pprint --> preety print

In [4]:
from pprint import pprint  
#pprint --> module --> py file

In [5]:
pprint(resume)

{'Languages Known': ['Hindi', 'English'],
 'Personal Info': {'Email': 'simrangrover5@gmail.com',
                   'Name': 'Simran Grover',
                   'Phno': 'xyz',
                   'dob': 'xyz'},
 'Skills': {'Development': ['Django', 'flask', 'tkinter'],
            'Other Languages': ['html', 'jinja', 'latex'],
            'Programming Language': ['C', 'C++', 'Python']}}

In [7]:
pprint(resume,indent=3)

{  'Languages Known': ['Hindi', 'English'],
   'Personal Info': {  'Email': 'simrangrover5@gmail.com',
                       'Name': 'Simran Grover',
                       'Phno': 'xyz',
                       'dob': 'xyz'},
   'Skills': {  'Development': ['Django', 'flask', 'tkinter'],
                'Other Languages': ['html', 'jinja', 'latex'],
                'Programming Language': ['C', 'C++', 'Python']}}

In [8]:
bank = {
    1001 : {'Name':'Tushar','Bal':12000,'Password':'admin'},
    1002 : {'Name':'Rahul','Bal':12500,'Password':'passwd'},
    1003 : {'Name':'Shubham','Bal':14000,'Password':'passpass'},
    1004 : {'Name':'Ravi','Bal':15000,'Password':'adminadmin'}
}

In [9]:
bank[1001]

{'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}

In [10]:
bank[1002]

{'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}

In [11]:
bank[1003]

{'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}

In [12]:
bank[1004]

{'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}

#### Question for work    
    
    Add New User by taking input of its name,balance,password
    Generate new accno serially and make a new key of this accno and its value will be the dictionary

## Type Conversion

Noodles --> Snacks
Noodles --> Fruits

In [13]:
a = 12
type(a)

int

In [14]:
b = float(a)

In [15]:
b

12.0

In [16]:
type(b)

float

##### Two Types Of Type Conversion

1. Implicit --> Internally The type of data is changed
2. Explicit --> You change the type of data externally

### Implicit Type Conversion

In [17]:
a = 12
b = 34.56
print(a+b)

46.56

In [18]:
a*b

414.72

In [19]:
int(b)

34

In [20]:
a/b

0.3472222222222222

In [21]:
a*b*10

4147.200000000001

In [22]:
#formatting
print(type(b))
print("The marks is {}".format(b))

<class 'float'>
The marks is 34.56

### Explicit Type Conversion

1. int
2. float
3. complex
4. list
5. Tuple
6. Set
7. Dictionary
8. Hex
9. Bin
10. Oct
11. str

In [23]:
a = "123"
int(a)

123

In [24]:
int(12.456)

12

In [25]:
int("123.45")

ValueError: invalid literal for int() with base 10: '123.45'

In [26]:
int("123")

123

In [28]:
a = int(input("Enter any value : "))
print(type(a))

Enter any value : jijpijp

ValueError: invalid literal for int() with base 10: 'jijpijp'

In [ ]:
#base 10 --> Decimal Value

Number --> Decimal (0-9)
           Binary (0-1)
           Hexadecmal (0-15)
           Octal (0-8)

In [32]:
#float

float(12)

12.0

In [33]:
float("123.45")

123.45

In [34]:
float("23.45690909")

23.45690909

In [35]:
a = float(input("Enter a number : "))

Enter a number : 12.3456

In [36]:
a

12.3456

In [37]:
type(input("Enter a number : "))

Enter a number : 123

str

In [38]:
float(10+23.45+int("123"))

156.45

In [39]:
## complex

complex(23,45)

(23+45j)

In [40]:
complex(34)

(34+0j)

In [41]:
complex(int(input()),int(input()))

34
23

(34+23j)

In [42]:
### str

a = 34.567
str(a)

'34.567'

In [43]:
str(23)

'23'

In [44]:
str("1111")

'1111'

In [51]:
#reverse of a number 
num = int(input("Enter a number : "))
print(f"The reverse of {num} number is : {int(str(num)[::-1])}")

Enter a number : 3456123
The reverse of 3456123 number is : 3216543

In [59]:
### list , tuple, set , dict --> iterable object
l = list("python")

In [53]:
l

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
l = list((1,2,3,4,5,6))

In [55]:
l

[1, 2, 3, 4, 5, 6]

In [56]:
l = list({"python","html","java","c","C++","javascript"})

In [57]:
l

['C++', 'javascript', 'html', 'python', 'c', 'java']

In [58]:
list(121)

TypeError: 'int' object is not iterable

In [61]:
l = list({'name':'simran','birth_place':'gwalior','city':'jaipur'}) #by default dict iterate the keys

In [62]:
print(l)

['name', 'birth_place', 'city']

In [63]:
l = list({'name':'simran','birth_place':'gwalior','city':'jaipur'}.values())

In [64]:
l

['simran', 'gwalior', 'jaipur']

In [65]:
l = list({'name':'simran','birth_place':'gwalior','city':'jaipur'}.items())

In [66]:
l

[('name', 'simran'), ('birth_place', 'gwalior'), ('city', 'jaipur')]

In [67]:
t1 = ("hello","world","how","are","you")
t2 = (1,2,3,4,"jaipur","bhopal")

In [68]:
list(t1+t2)

['hello', 'world', 'how', 'are', 'you', 1, 2, 3, 4, 'jaipur', 'bhopal']

In [69]:
##tuple

tuple(l)

(('name', 'simran'), ('birth_place', 'gwalior'), ('city', 'jaipur'))

In [71]:
tuple({'html','css','js','bs'})

('html', 'css', 'js', 'bs')

In [72]:
t = tuple("python python")

In [73]:
t

('p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'y', 't', 'h', 'o', 'n')

In [74]:
bank

{1001: {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'},
 1002: {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'},
 1003: {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'},
 1004: {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}}

In [75]:
t = tuple(bank)

In [76]:
t

(1001, 1002, 1003, 1004)

In [77]:
tuple(bank.values())

({'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'},
 {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'},
 {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'},
 {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'})

In [78]:
tuple(bank.items())

((1001, {'Name': 'Tushar', 'Bal': 12000, 'Password': 'admin'}),
 (1002, {'Name': 'Rahul', 'Bal': 12500, 'Password': 'passwd'}),
 (1003, {'Name': 'Shubham', 'Bal': 14000, 'Password': 'passpass'}),
 (1004, {'Name': 'Ravi', 'Bal': 15000, 'Password': 'adminadmin'}))

In [80]:
tuple(34.567)

TypeError: 'float' object is not iterable

In [79]:
##set

set("python")

{'h', 'n', 'o', 'p', 't', 'y'}

In [81]:
set(l)

{('birth_place', 'gwalior'), ('city', 'jaipur'), ('name', 'simran')}

In [82]:
t1

('hello', 'world', 'how', 'are', 'you')

In [83]:
set(t1)

{'are', 'hello', 'how', 'world', 'you'}

In [84]:
set(t1+t2)

{1, 2, 3, 4, 'are', 'bhopal', 'hello', 'how', 'jaipur', 'world', 'you'}

In [85]:
set(bank)

{1001, 1002, 1003, 1004}